body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26830 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26831 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u26832 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u26834 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u26835 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u26836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u26836 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u26837 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u26839 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u26840 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26841_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u26841 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u26842 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26845 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u26846 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u26847 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u26848 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u26849 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u26850 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u26851 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u26852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u26852 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u26853 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u26854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u26854 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u26855 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u26856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u26856 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u26857 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u26858 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u26859 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u26860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u26860 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u26861 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26862_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:10px;
}
#u26862 {
  position:absolute;
  left:5px;
  top:164px;
  width:59px;
  height:5px;
}
#u26863 {
  position:absolute;
  left:2px;
  top:-6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u26864 {
  position:absolute;
  left:9px;
  top:130px;
  width:50px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u26865 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u26866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1135px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26866 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:1135px;
}
#u26867 {
  position:absolute;
  left:2px;
  top:560px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:1029px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26868 {
  position:absolute;
  left:66px;
  top:260px;
  width:708px;
  height:1029px;
}
#u26869 {
  position:absolute;
  left:2px;
  top:506px;
  width:704px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26871 {
  position:absolute;
  left:401px;
  top:2px;
  width:197px;
  height:89px;
}
#u26871_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26871.mouseOver {
}
#u26872 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:35px;
}
#u26873 {
  position:absolute;
  left:173px;
  top:215px;
  width:869px;
  height:35px;
}
#u26874 {
  position:absolute;
  left:2px;
  top:10px;
  width:865px;
  word-wrap:break-word;
}
#u26875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u26876 {
  position:absolute;
  left:331px;
  top:1209px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u26877 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u26878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u26878 {
  position:absolute;
  left:528px;
  top:1209px;
  width:177px;
  height:40px;
  font-size:18px;
}
#u26879 {
  position:absolute;
  left:2px;
  top:9px;
  width:173px;
  word-wrap:break-word;
}
#u26880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u26880 {
  position:absolute;
  left:135px;
  top:1209px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u26881 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u26883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u26885 {
  position:absolute;
  left:162px;
  top:286px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u26886 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u26887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u26887 {
  position:absolute;
  left:108px;
  top:278px;
  width:44px;
  height:44px;
  font-size:18px;
  color:#797979;
}
#u26888 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u26889 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:32px;
}
#u26890 {
  position:absolute;
  left:267px;
  top:283px;
  width:19px;
  height:32px;
}
#u26891 {
  position:absolute;
  left:2px;
  top:8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u26893 {
  position:absolute;
  left:351px;
  top:286px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u26894 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u26895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u26896 {
  position:absolute;
  left:297px;
  top:278px;
  width:44px;
  height:44px;
  font-size:18px;
  color:#797979;
}
#u26897 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u26898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u26899 {
  position:absolute;
  left:559px;
  top:286px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u26900 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u26901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u26901 {
  position:absolute;
  left:505px;
  top:278px;
  width:44px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u26902 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u26903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:813px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26904 {
  position:absolute;
  left:140px;
  top:345px;
  width:484px;
  height:813px;
}
#u26905 {
  position:absolute;
  left:2px;
  top:398px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u26908 {
  position:absolute;
  left:187px;
  top:1075px;
  width:56px;
  height:44px;
}
#u26909 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u26910 {
  position:absolute;
  left:184px;
  top:1129px;
  width:58px;
  height:19px;
  font-size:16px;
  color:#008000;
  text-align:center;
}
#u26911 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u26912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u26913 {
  position:absolute;
  left:265px;
  top:1076px;
  width:56px;
  height:44px;
}
#u26914 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u26915 {
  position:absolute;
  left:242px;
  top:1130px;
  width:99px;
  height:19px;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u26916 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u26917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u26918 {
  position:absolute;
  left:344px;
  top:1076px;
  width:56px;
  height:44px;
}
#u26919 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
}
#u26920 {
  position:absolute;
  left:341px;
  top:1130px;
  width:79px;
  height:19px;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u26921 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u26922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u26923 {
  position:absolute;
  left:423px;
  top:1076px;
  width:56px;
  height:44px;
}
#u26924 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u26925 {
  position:absolute;
  left:420px;
  top:1130px;
  width:58px;
  height:19px;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u26926 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u26927 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u26928 {
  position:absolute;
  left:512px;
  top:1076px;
  width:56px;
  height:44px;
}
#u26929 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u26930 {
  position:absolute;
  left:509px;
  top:1130px;
  width:58px;
  height:19px;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u26931 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u26932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:65px;
  background:inherit;
  background-color:rgba(153, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26932 {
  position:absolute;
  left:140px;
  top:345px;
  width:484px;
  height:65px;
}
#u26933 {
  position:absolute;
  left:2px;
  top:24px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26934 {
  position:absolute;
  left:309px;
  top:358px;
  width:147px;
  height:40px;
}
#u26935 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u26936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26936 {
  position:absolute;
  left:140px;
  top:410px;
  width:484px;
  height:40px;
}
#u26937 {
  position:absolute;
  left:2px;
  top:4px;
  width:480px;
  word-wrap:break-word;
}
#u26938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26938 {
  position:absolute;
  left:296px;
  top:506px;
  width:165px;
  height:157px;
}
#u26939 {
  position:absolute;
  left:2px;
  top:62px;
  width:161px;
  word-wrap:break-word;
}
#u26940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1421px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.537254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26940 {
  position:absolute;
  left:2px;
  top:-16px;
  width:1440px;
  height:1421px;
}
#u26941 {
  position:absolute;
  left:2px;
  top:702px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:646px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26943 {
  position:absolute;
  left:154px;
  top:250px;
  width:746px;
  height:646px;
}
#u26944 {
  position:absolute;
  left:2px;
  top:315px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:35px;
}
#u26945 {
  position:absolute;
  left:778px;
  top:274px;
  width:58px;
  height:35px;
}
#u26946 {
  position:absolute;
  left:2px;
  top:10px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u26948 {
  position:absolute;
  left:372px;
  top:805px;
  width:168px;
  height:37px;
  font-size:18px;
}
#u26949 {
  position:absolute;
  left:2px;
  top:8px;
  width:164px;
  word-wrap:break-word;
}
#u26950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 153, 0, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u26950 {
  position:absolute;
  left:564px;
  top:805px;
  width:168px;
  height:37px;
  font-size:18px;
  color:#0000FF;
}
#u26951 {
  position:absolute;
  left:2px;
  top:8px;
  width:164px;
  word-wrap:break-word;
}
#u26952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u26952 {
  position:absolute;
  left:198px;
  top:291px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#515151;
}
#u26953 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u26954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:81px;
}
#u26957 {
  position:absolute;
  left:246px;
  top:396px;
  width:171px;
  height:81px;
}
#u26958 {
  position:absolute;
  left:2px;
  top:32px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u26959 {
  position:absolute;
  left:299px;
  top:490px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u26960 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u26961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u26963 {
  position:absolute;
  left:490px;
  top:367px;
  width:72px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u26964 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u26965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u26968 {
  position:absolute;
  left:472px;
  top:434px;
  width:90px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u26969 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u26970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u26971 {
  position:absolute;
  left:482px;
  top:513px;
  width:83px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u26972 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u26973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26975 {
  position:absolute;
  left:605px;
  top:515px;
  width:100px;
  height:16px;
}
#u26976 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26975_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26978 {
  position:absolute;
  left:659px;
  top:515px;
  width:100px;
  height:16px;
}
#u26979 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26978_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26980 {
  position:absolute;
  left:609px;
  top:548px;
  width:100px;
  height:16px;
}
#u26981 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26980_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26983 {
  position:absolute;
  left:663px;
  top:548px;
  width:100px;
  height:16px;
}
#u26984 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26983_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26985 {
  position:absolute;
  left:609px;
  top:574px;
  width:100px;
  height:16px;
}
#u26986 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26985_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26988 {
  position:absolute;
  left:663px;
  top:574px;
  width:100px;
  height:16px;
}
#u26989 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26988_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26990 {
  position:absolute;
  left:605px;
  top:434px;
  width:100px;
  height:16px;
}
#u26991 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26990_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26992 {
  position:absolute;
  left:605px;
  top:471px;
  width:100px;
  height:16px;
}
#u26993 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26992_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26994 {
  position:absolute;
  left:663px;
  top:434px;
  width:100px;
  height:16px;
}
#u26995 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26994_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26996 {
  position:absolute;
  left:663px;
  top:471px;
  width:100px;
  height:16px;
}
#u26997 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26996_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u26999 {
  position:absolute;
  left:483px;
  top:546px;
  width:83px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u27000 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u27001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u27002 {
  position:absolute;
  left:483px;
  top:575px;
  width:83px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u27003 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u27004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u27007 {
  position:absolute;
  left:472px;
  top:402px;
  width:90px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u27008 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u27009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:31px;
}
#u27009 {
  position:absolute;
  left:609px;
  top:393px;
  width:20px;
  height:31px;
}
#u27010 {
  position:absolute;
  left:-4px;
  top:8px;
  width:27px;
  visibility:hidden;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  word-wrap:break-word;
  transform-origin:14px 7.5px;
  -ms-transform-origin:14px 7.5px;
  -moz-transform-origin:14px 7.5px;
  -webkit-transform-origin:14px 7.5px;
}
#u27011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u27014 {
  position:absolute;
  left:475px;
  top:471px;
  width:90px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u27015 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u27016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27017 {
  position:absolute;
  left:605px;
  top:367px;
  width:100px;
  height:16px;
}
#u27018 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u27017_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u27019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27020 {
  position:absolute;
  left:659px;
  top:367px;
  width:100px;
  height:16px;
}
#u27021 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u27020_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u27022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u27025 {
  position:absolute;
  left:472px;
  top:685px;
  width:90px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u27026 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u27027 {
  position:absolute;
  left:609px;
  top:685px;
  width:81px;
  height:22px;
}
#u27027_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u27027_input:disabled {
  color:grayText;
}
#u27028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:2px;
}
#u27028 {
  position:absolute;
  left:200px;
  top:757px;
  width:635px;
  height:1px;
}
#u27029 {
  position:absolute;
  left:2px;
  top:-8px;
  width:631px;
  visibility:hidden;
  word-wrap:break-word;
}
