body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1807px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18947 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u18948 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u18950 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u18951 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u18952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u18952 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u18953 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u18955 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u18956 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18957_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u18957 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u18958 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u18959 {
  position:absolute;
  left:41px;
  top:102px;
  width:150px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u18960 {
  position:absolute;
  left:0px;
  top:11px;
  width:150px;
  word-wrap:break-word;
}
#u18962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:698px;
}
#u18963 {
  position:absolute;
  left:0px;
  top:88px;
  width:196px;
  height:698px;
}
#u18964 {
  position:absolute;
  left:2px;
  top:341px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18969 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u18970 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u18971 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u18972 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u18973 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u18974 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u18975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u18975 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u18976 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u18977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u18977 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u18978 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u18979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u18979 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u18980 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u18981 {
  position:absolute;
  left:1270px;
  top:1654px;
  width:26px;
  height:23px;
}
#u18982 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u18983 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u18984 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u18986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18986 {
  position:absolute;
  left:401px;
  top:-4px;
  width:197px;
  height:89px;
}
#u18986_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18986.mouseOver {
}
#u18987 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18989 {
  position:absolute;
  left:249px;
  top:212px;
  width:191px;
  height:25px;
}
#u18990 {
  position:absolute;
  left:2px;
  top:4px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
}
#u18991 {
  position:absolute;
  left:259px;
  top:215px;
  width:132px;
  height:16px;
  font-size:14px;
  color:#C9C9C9;
}
#u18992 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u18993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u18993 {
  position:absolute;
  left:469px;
  top:210px;
  width:64px;
  height:26px;
  font-size:14px;
  color:#FFFFFF;
}
#u18994 {
  position:absolute;
  left:2px;
  top:5px;
  width:60px;
  word-wrap:break-word;
}
#u18995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u18995 {
  position:absolute;
  left:1781px;
  top:757px;
  width:26px;
  height:23px;
}
#u18996 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18998 {
  position:absolute;
  left:1406px;
  top:1139px;
  width:151px;
  height:157px;
}
#u18999 {
  position:absolute;
  left:2px;
  top:70px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u19000 {
  position:absolute;
  left:1406px;
  top:1155px;
  width:151px;
  height:16px;
  text-align:center;
}
#u19001 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u19002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u19002 {
  position:absolute;
  left:1406px;
  top:1189px;
  width:151px;
  height:16px;
  text-align:center;
}
#u19003 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u19004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u19004 {
  position:absolute;
  left:1406px;
  top:1221px;
  width:151px;
  height:16px;
  text-align:center;
}
#u19005 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u19006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u19006 {
  position:absolute;
  left:1406px;
  top:1248px;
  width:151px;
  height:16px;
  text-align:center;
}
#u19007 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u19009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u19010 {
  position:absolute;
  left:1px;
  top:151px;
  width:196px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u19011 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u19012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u19012 {
  position:absolute;
  left:51px;
  top:119px;
  width:123px;
  height:16px;
  font-size:14px;
  color:#282828;
}
#u19013 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u19014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u19014 {
  position:absolute;
  left:53px;
  top:340px;
  width:90px;
  height:16px;
  font-size:14px;
  color:#282828;
}
#u19015 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u19016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u19016 {
  position:absolute;
  left:0px;
  top:377px;
  width:196px;
  height:16px;
  font-size:14px;
  color:#6B6B6B;
  text-align:center;
}
#u19017 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u19018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u19018 {
  position:absolute;
  left:17px;
  top:335px;
  width:24px;
  height:25px;
}
#u19019 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:2px;
}
#u19020 {
  position:absolute;
  left:16px;
  top:196px;
  width:167px;
  height:1px;
}
#u19021 {
  position:absolute;
  left:2px;
  top:-8px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u19022 {
  position:absolute;
  left:16px;
  top:119px;
  width:22px;
  height:17px;
}
#u19023 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u19024 {
  position:absolute;
  left:0px;
  top:413px;
  width:196px;
  height:16px;
  font-size:14px;
  color:#6B6B6B;
  text-align:center;
}
#u19025 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u19026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u19026 {
  position:absolute;
  left:54px;
  top:229px;
  width:90px;
  height:16px;
  font-size:14px;
  color:#282828;
}
#u19027 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u19028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u19028 {
  position:absolute;
  left:1px;
  top:266px;
  width:196px;
  height:16px;
  font-size:14px;
  color:#6B6B6B;
  text-align:center;
}
#u19029 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u19030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:2px;
}
#u19030 {
  position:absolute;
  left:16px;
  top:324px;
  width:167px;
  height:1px;
}
#u19031 {
  position:absolute;
  left:2px;
  top:-8px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u19032 {
  position:absolute;
  left:22px;
  top:226px;
  width:24px;
  height:20px;
}
#u19033 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#006600;
}
#u19034 {
  position:absolute;
  left:35px;
  top:258px;
  width:127px;
  height:32px;
  font-size:14px;
  color:#006600;
}
#u19035 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u19037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:20px;
}
#u19037 {
  position:absolute;
  left:291px;
  top:102px;
  width:274px;
  height:20px;
}
#u19038 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u19039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u19039 {
  position:absolute;
  left:259px;
  top:102px;
  width:21px;
  height:19px;
}
#u19040 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
  text-align:left;
}
#u19041 {
  position:absolute;
  left:365px;
  top:95px;
  width:127px;
  height:32px;
  font-size:14px;
  color:#515151;
  text-align:left;
}
#u19042 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u19043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u19043 {
  position:absolute;
  left:1270px;
  top:394px;
  width:26px;
  height:23px;
}
#u19044 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19046 {
  position:absolute;
  left:243px;
  top:263px;
  width:1148px;
  height:54px;
}
#u19047 {
  position:absolute;
  left:2px;
  top:19px;
  width:1144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u19048 {
  position:absolute;
  left:503px;
  top:282px;
  width:61px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u19049 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u19050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u19050 {
  position:absolute;
  left:892px;
  top:282px;
  width:124px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u19051 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u19052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u19052 {
  position:absolute;
  left:1315px;
  top:282px;
  width:61px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u19053 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u19054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u19055 {
  position:absolute;
  left:291px;
  top:347px;
  width:61px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u19056 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u19057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u19057 {
  position:absolute;
  left:286px;
  top:396px;
  width:61px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u19058 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u19059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u19059 {
  position:absolute;
  left:862px;
  top:347px;
  width:119px;
  height:16px;
}
#u19060 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u19061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u19061 {
  position:absolute;
  left:862px;
  top:398px;
  width:119px;
  height:16px;
}
#u19062 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u19063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u19064 {
  position:absolute;
  left:1067px;
  top:282px;
  width:60px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u19065 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u19066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u19066 {
  position:absolute;
  left:1067px;
  top:347px;
  width:84px;
  height:16px;
}
#u19067 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u19068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u19068 {
  position:absolute;
  left:1067px;
  top:394px;
  width:84px;
  height:16px;
}
#u19069 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u19070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u19070 {
  position:absolute;
  left:350px;
  top:282px;
  width:61px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u19071 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u19072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
}
#u19072 {
  position:absolute;
  left:340px;
  top:336px;
  width:45px;
  height:38px;
}
#u19073 {
  position:absolute;
  left:2px;
  top:11px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u19074 {
  position:absolute;
  left:339px;
  top:384px;
  width:46px;
  height:45px;
}
#u19075 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u19076 {
  position:absolute;
  left:503px;
  top:340px;
  width:61px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u19077 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u19078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u19078 {
  position:absolute;
  left:503px;
  top:396px;
  width:61px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u19079 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u19080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19080 {
  position:absolute;
  left:1289px;
  top:335px;
  width:87px;
  height:28px;
  font-size:14px;
}
#u19081 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u19082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19082 {
  position:absolute;
  left:1289px;
  top:382px;
  width:87px;
  height:28px;
  font-size:14px;
}
#u19083 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
