body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1436px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1454px;
  height:1232px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34027 {
  position:absolute;
  left:-9px;
  top:177px;
  width:1454px;
  height:1232px;
}
#u34028 {
  position:absolute;
  left:2px;
  top:608px;
  width:1450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1394px;
  height:1208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34029 {
  position:absolute;
  left:28px;
  top:189px;
  width:1394px;
  height:1208px;
}
#u34030 {
  position:absolute;
  left:2px;
  top:596px;
  width:1390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34033 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u34034 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u34036 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u34037 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u34038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u34038 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u34039 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u34041 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u34042 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34043_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u34043 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u34044 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u34048 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u34049 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u34050 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u34051 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u34052 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u34053 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u34054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u34054 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u34055 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u34056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u34056 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u34057 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u34058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u34058 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u34059 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u34060 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u34061 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u34062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u34062 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u34063 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34064_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:123px;
  height:10px;
}
#u34064 {
  position:absolute;
  left:5px;
  top:164px;
  width:118px;
  height:5px;
}
#u34065 {
  position:absolute;
  left:2px;
  top:-6px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u34066 {
  position:absolute;
  left:9px;
  top:130px;
  width:105px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u34067 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u34069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34069 {
  position:absolute;
  left:401px;
  top:12px;
  width:197px;
  height:89px;
}
#u34069_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34069.mouseOver {
}
#u34070 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1454px;
  height:1410px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.419607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34071 {
  position:absolute;
  left:-9px;
  top:-1px;
  width:1454px;
  height:1410px;
}
#u34072 {
  position:absolute;
  left:2px;
  top:697px;
  width:1450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:914px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34073 {
  position:absolute;
  left:424px;
  top:290px;
  width:702px;
  height:914px;
}
#u34074 {
  position:absolute;
  left:2px;
  top:449px;
  width:698px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
}
#u34075 {
  position:absolute;
  left:463px;
  top:309px;
  width:93px;
  height:24px;
  font-size:20px;
  color:#515151;
  text-align:center;
}
#u34076 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u34077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u34078 {
  position:absolute;
  left:628px;
  top:373px;
  width:300px;
  height:170px;
}
#u34079 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:52px;
}
#u34080 {
  position:absolute;
  left:680px;
  top:568px;
  width:214px;
  height:52px;
  font-size:18px;
  color:#515151;
  text-align:center;
}
#u34081 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u34082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
}
#u34082 {
  position:absolute;
  left:1033px;
  top:303px;
  width:93px;
  height:24px;
  font-size:20px;
  color:#515151;
  text-align:center;
}
#u34083 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u34084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:170px;
}
#u34085 {
  position:absolute;
  left:688px;
  top:657px;
  width:174px;
  height:170px;
}
#u34086 {
  position:absolute;
  left:2px;
  top:77px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:52px;
}
#u34087 {
  position:absolute;
  left:680px;
  top:852px;
  width:214px;
  height:52px;
  font-size:18px;
  color:#515151;
  text-align:center;
}
#u34088 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u34089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u34090 {
  position:absolute;
  left:628px;
  top:941px;
  width:300px;
  height:170px;
}
#u34091 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:52px;
}
#u34092 {
  position:absolute;
  left:680px;
  top:1136px;
  width:214px;
  height:52px;
  font-size:18px;
  color:#515151;
  text-align:center;
}
#u34093 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
