body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2037px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26103 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u26104 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u26106 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u26107 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u26108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u26108 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u26109 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u26111 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u26112 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26113_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u26113 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u26114 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u26115 {
  position:absolute;
  left:41px;
  top:102px;
  width:150px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u26116 {
  position:absolute;
  left:0px;
  top:11px;
  width:150px;
  word-wrap:break-word;
}
#u26118 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:736px;
}
#u26119 {
  position:absolute;
  left:0px;
  top:88px;
  width:196px;
  height:736px;
}
#u26120 {
  position:absolute;
  left:2px;
  top:360px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u26125 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u26126 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u26127 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u26128 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u26129 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u26130 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u26131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u26131 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u26132 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u26133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u26133 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u26134 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u26135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u26135 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u26136 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u26137 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u26138 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u26140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26140 {
  position:absolute;
  left:401px;
  top:3px;
  width:197px;
  height:89px;
}
#u26140_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26140.mouseOver {
}
#u26141 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u26144 {
  position:absolute;
  left:4px;
  top:198px;
  width:196px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u26145 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u26146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u26146 {
  position:absolute;
  left:66px;
  top:125px;
  width:123px;
  height:16px;
  font-size:14px;
  color:#282828;
}
#u26147 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u26148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u26148 {
  position:absolute;
  left:7px;
  top:167px;
  width:196px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u26149 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u26150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u26150 {
  position:absolute;
  left:31px;
  top:125px;
  width:22px;
  height:17px;
}
#u26151 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26152 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u26153 {
  position:absolute;
  left:67px;
  top:262px;
  width:90px;
  height:16px;
  font-size:14px;
  color:#282828;
}
#u26154 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u26155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u26155 {
  position:absolute;
  left:32px;
  top:262px;
  width:18px;
  height:18px;
}
#u26156 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u26157 {
  position:absolute;
  left:0px;
  top:299px;
  width:196px;
  height:16px;
  font-size:14px;
  color:#6B6B6B;
  text-align:center;
}
#u26158 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u26159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:2px;
}
#u26159 {
  position:absolute;
  left:15px;
  top:233px;
  width:167px;
  height:1px;
}
#u26160 {
  position:absolute;
  left:2px;
  top:-8px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26161 {
  position:absolute;
  left:53px;
  top:119px;
  width:153px;
  height:28px;
}
#u26161_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26161.mouseOver {
}
#u26162 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26163 {
  position:absolute;
  left:60px;
  top:257px;
  width:153px;
  height:28px;
}
#u26163_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26163.mouseOver {
}
#u26164 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26165 {
  position:absolute;
  left:15px;
  top:293px;
  width:153px;
  height:28px;
}
#u26165_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26165.mouseOver {
}
#u26166 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26167 {
  position:absolute;
  left:16px;
  top:158px;
  width:153px;
  height:28px;
}
#u26167_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26167.mouseOver {
}
#u26168 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26169 {
  position:absolute;
  left:13px;
  top:196px;
  width:153px;
  height:28px;
}
#u26169_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26169.mouseOver {
}
#u26170 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u26171 {
  position:absolute;
  left:32px;
  top:350px;
  width:21px;
  height:21px;
}
#u26172 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26173 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u26174 {
  position:absolute;
  left:71px;
  top:350px;
  width:90px;
  height:16px;
  font-size:14px;
  color:#282828;
}
#u26175 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u26176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u26176 {
  position:absolute;
  left:67px;
  top:383px;
  width:122px;
  height:16px;
  font-size:14px;
  color:#6B6B6B;
}
#u26177 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u26178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u26178 {
  position:absolute;
  left:71px;
  top:415px;
  width:122px;
  height:16px;
  font-size:14px;
  color:#6B6B6B;
}
#u26179 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u26180 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u26181 {
  position:absolute;
  left:70px;
  top:458px;
  width:123px;
  height:16px;
  font-size:14px;
  color:#282828;
}
#u26182 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u26183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u26183 {
  position:absolute;
  left:38px;
  top:458px;
  width:22px;
  height:17px;
}
#u26184 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u26185 {
  position:absolute;
  left:15px;
  top:491px;
  width:196px;
  height:16px;
  font-size:14px;
  color:#282828;
  text-align:center;
}
#u26186 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u26187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:2px;
}
#u26187 {
  position:absolute;
  left:16px;
  top:331px;
  width:167px;
  height:1px;
}
#u26188 {
  position:absolute;
  left:2px;
  top:-8px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:2px;
}
#u26189 {
  position:absolute;
  left:22px;
  top:443px;
  width:167px;
  height:1px;
}
#u26190 {
  position:absolute;
  left:2px;
  top:-8px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#006600;
}
#u26191 {
  position:absolute;
  left:5px;
  top:156px;
  width:196px;
  height:32px;
  font-size:14px;
  color:#006600;
}
#u26192 {
  position:absolute;
  left:2px;
  top:8px;
  width:192px;
  word-wrap:break-word;
}
#u26194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:20px;
}
#u26194 {
  position:absolute;
  left:291px;
  top:102px;
  width:274px;
  height:20px;
}
#u26195 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u26196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u26196 {
  position:absolute;
  left:259px;
  top:102px;
  width:21px;
  height:19px;
}
#u26197 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u26198 {
  position:absolute;
  left:1481px;
  top:127px;
  width:38px;
  height:38px;
  font-size:18px;
  color:#FFFFFF;
}
#u26199 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  word-wrap:break-word;
}
#u26200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u26200 {
  position:absolute;
  left:734px;
  top:696px;
  width:223px;
  height:40px;
  font-size:20px;
}
#u26201 {
  position:absolute;
  left:2px;
  top:8px;
  width:219px;
  word-wrap:break-word;
}
#u26202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26202 {
  position:absolute;
  left:734px;
  top:656px;
  width:263px;
  height:62px;
}
#u26202_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26202.mouseOver {
}
#u26203 {
  position:absolute;
  left:2px;
  top:23px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26204 {
  position:absolute;
  left:314px;
  top:184px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26205 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u26206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:214px;
}
#u26206 {
  position:absolute;
  left:365px;
  top:254px;
  width:1023px;
  height:214px;
  font-size:20px;
  color:#797979;
}
#u26207 {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  word-wrap:break-word;
}
#u26208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:214px;
}
#u26208 {
  position:absolute;
  left:370px;
  top:468px;
  width:1023px;
  height:214px;
  font-size:20px;
  color:#797979;
}
#u26209 {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  word-wrap:break-word;
}
#u26210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26210 {
  position:absolute;
  left:1467px;
  top:8px;
  width:538px;
  height:111px;
}
#u26211 {
  position:absolute;
  left:2px;
  top:48px;
  width:534px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:106px;
}
#u26212 {
  position:absolute;
  left:1486px;
  top:19px;
  width:508px;
  height:106px;
}
#u26213 {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  word-wrap:break-word;
}
#u26214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u26214 {
  position:absolute;
  left:988px;
  top:698px;
  width:38px;
  height:38px;
  font-size:18px;
  color:#FFFFFF;
}
#u26215 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  word-wrap:break-word;
}
#u26216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:34px;
}
#u26216 {
  position:absolute;
  left:1529px;
  top:141px;
  width:508px;
  height:34px;
}
#u26217 {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  word-wrap:break-word;
}
