body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9840 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9841 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u9842 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9843 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u9844 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u9845 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u9846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u9846 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u9847 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9848 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u9849 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u9850 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9851_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u9851 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u9852 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9856 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u9857 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u9858 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u9859 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u9860 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u9861 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u9862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u9862 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u9863 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u9864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u9864 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u9865 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u9866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u9866 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u9867 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u9868 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u9869 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u9870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u9870 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u9871 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9872_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:117px;
  height:10px;
}
#u9872 {
  position:absolute;
  left:5px;
  top:164px;
  width:112px;
  height:5px;
}
#u9873 {
  position:absolute;
  left:2px;
  top:-6px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u9874 {
  position:absolute;
  left:9px;
  top:130px;
  width:108px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u9875 {
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u9876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1527px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9876 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:1527px;
}
#u9877 {
  position:absolute;
  left:2px;
  top:756px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:1353px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9878 {
  position:absolute;
  left:277px;
  top:197px;
  width:1144px;
  height:1353px;
}
#u9879 {
  position:absolute;
  left:2px;
  top:668px;
  width:1140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9881 {
  position:absolute;
  left:401px;
  top:1px;
  width:197px;
  height:89px;
}
#u9881_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9881.mouseOver {
}
#u9882 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9885 {
  position:absolute;
  left:726px;
  top:1478px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u9886 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u9887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9888 {
  position:absolute;
  left:926px;
  top:1478px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u9889 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u9890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9891 {
  position:absolute;
  left:532px;
  top:1478px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u9892 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u9893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9895 {
  position:absolute;
  left:416px;
  top:310px;
  width:103px;
  height:22px;
}
#u9895_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9895_input:disabled {
  color:grayText;
}
#u9896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u9896 {
  position:absolute;
  left:349px;
  top:313px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
}
#u9897 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9899 {
  position:absolute;
  left:416px;
  top:278px;
  width:103px;
  height:22px;
}
#u9899_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9899_input:disabled {
  color:grayText;
}
#u9900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u9900 {
  position:absolute;
  left:349px;
  top:281px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
}
#u9901 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9903 {
  position:absolute;
  left:71px;
  top:266px;
  width:159px;
  height:199px;
}
#u9904 {
  position:absolute;
  left:2px;
  top:34px;
  width:155px;
  word-wrap:break-word;
}
#u9905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:114px;
}
#u9905 {
  position:absolute;
  left:121px;
  top:300px;
  width:59px;
  height:114px;
  font-size:99px;
  color:#008000;
  text-align:center;
}
#u9906 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u9907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u9907 {
  position:absolute;
  left:513px;
  top:1359px;
  width:55px;
  height:55px;
  font-size:48px;
}
#u9908 {
  position:absolute;
  left:2px;
  top:-1px;
  width:51px;
  word-wrap:break-word;
}
#u9909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u9910 {
  position:absolute;
  left:306px;
  top:1051px;
  width:469px;
  height:139px;
  font-size:36px;
  color:#AEAEAE;
}
#u9911 {
  position:absolute;
  left:2px;
  top:48px;
  width:465px;
  word-wrap:break-word;
}
#u9912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u9912 {
  position:absolute;
  left:306px;
  top:1209px;
  width:469px;
  height:139px;
  font-size:36px;
  color:#AEAEAE;
}
#u9913 {
  position:absolute;
  left:2px;
  top:48px;
  width:465px;
  word-wrap:break-word;
}
#u9914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
}
#u9914 {
  position:absolute;
  left:306px;
  top:386px;
  width:469px;
  height:139px;
}
#u9915 {
  position:absolute;
  left:2px;
  top:62px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u9916 {
  position:absolute;
  left:306px;
  top:725px;
  width:469px;
  height:139px;
  font-size:36px;
  color:#AEAEAE;
}
#u9917 {
  position:absolute;
  left:2px;
  top:48px;
  width:465px;
  word-wrap:break-word;
}
#u9918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u9918 {
  position:absolute;
  left:306px;
  top:886px;
  width:469px;
  height:139px;
  font-size:36px;
  color:#AEAEAE;
}
#u9919 {
  position:absolute;
  left:2px;
  top:48px;
  width:465px;
  word-wrap:break-word;
}
#u9920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u9920 {
  position:absolute;
  left:306px;
  top:552px;
  width:469px;
  height:139px;
  font-size:36px;
  color:#AEAEAE;
}
#u9921 {
  position:absolute;
  left:2px;
  top:48px;
  width:465px;
  word-wrap:break-word;
}
#u9922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:231px;
}
#u9922 {
  position:absolute;
  left:775px;
  top:338px;
  width:583px;
  height:231px;
}
#u9923 {
  position:absolute;
  left:2px;
  top:108px;
  width:579px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9927 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9928 {
  position:absolute;
  left:965px;
  top:385px;
  width:353px;
  height:41px;
}
#u9929 {
  position:absolute;
  left:2px;
  top:12px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u9930 {
  position:absolute;
  left:1281px;
  top:401px;
  width:26px;
  height:16px;
}
#u9931 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u9932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u9932 {
  position:absolute;
  left:917px;
  top:399px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u9933 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u9934 {
  position:absolute;
  left:904px;
  top:452px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u9935 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u9936 {
  position:absolute;
  left:1171px;
  top:456px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u9937 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u9939 {
  position:absolute;
  left:917px;
  top:517px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u9940 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9941 {
  position:absolute;
  left:973px;
  top:516px;
  width:134px;
  height:22px;
}
#u9941_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9941_input:disabled {
  color:grayText;
}
#u9942 {
  position:absolute;
  left:1132px;
  top:516px;
  width:186px;
  height:22px;
}
#u9942_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9942_input:disabled {
  color:grayText;
}
#u9943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9943 {
  position:absolute;
  left:973px;
  top:452px;
  width:29px;
  height:27px;
}
#u9944 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 0, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9945 {
  position:absolute;
  left:1015px;
  top:452px;
  width:29px;
  height:27px;
}
#u9946 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9947 {
  position:absolute;
  left:1054px;
  top:452px;
  width:29px;
  height:27px;
}
#u9948 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9949 {
  position:absolute;
  left:1093px;
  top:452px;
  width:29px;
  height:27px;
}
#u9950 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9951 {
  position:absolute;
  left:1132px;
  top:452px;
  width:29px;
  height:27px;
}
#u9952 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9953 {
  position:absolute;
  left:1221px;
  top:452px;
  width:29px;
  height:27px;
}
#u9954 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:1698px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.537254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9955 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1442px;
  height:1698px;
}
#u9956 {
  position:absolute;
  left:2px;
  top:841px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:72px;
}
#u9959 {
  position:absolute;
  left:171px;
  top:448px;
  width:46px;
  height:72px;
}
#u9960 {
  position:absolute;
  left:2px;
  top:28px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:72px;
}
#u9961 {
  position:absolute;
  left:1096px;
  top:448px;
  width:46px;
  height:72px;
}
#u9962 {
  position:absolute;
  left:2px;
  top:28px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:547px;
}
#u9963 {
  position:absolute;
  left:466px;
  top:192px;
  width:289px;
  height:547px;
}
#u9964 {
  position:absolute;
  left:2px;
  top:266px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
