body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20187 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20188 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u20189 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u20191 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u20192 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u20193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u20193 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u20194 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20195 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u20196 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u20197 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20198_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u20198 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u20199 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20201 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20202 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u20203 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u20204 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u20205 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u20206 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u20207 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u20208 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u20209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u20209 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u20210 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u20211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u20211 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u20212 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u20213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u20213 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u20214 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u20215 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u20216 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u20217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u20217 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u20218 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20219_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:10px;
}
#u20219 {
  position:absolute;
  left:5px;
  top:164px;
  width:59px;
  height:5px;
}
#u20220 {
  position:absolute;
  left:2px;
  top:-6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u20221 {
  position:absolute;
  left:9px;
  top:130px;
  width:50px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u20222 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u20223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1135px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20223 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:1135px;
}
#u20224 {
  position:absolute;
  left:2px;
  top:560px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20226 {
  position:absolute;
  left:401px;
  top:10px;
  width:197px;
  height:89px;
}
#u20226_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20226.mouseOver {
}
#u20227 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:648px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20228 {
  position:absolute;
  left:345px;
  top:177px;
  width:651px;
  height:648px;
}
#u20229 {
  position:absolute;
  left:2px;
  top:316px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u20230 {
  position:absolute;
  left:623px;
  top:702px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u20231 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u20232 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20234 {
  position:absolute;
  left:643px;
  top:447px;
  width:83px;
  height:16px;
}
#u20235 {
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u20234_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20236 {
  position:absolute;
  left:778px;
  top:447px;
  width:83px;
  height:16px;
}
#u20237 {
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u20236_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20238 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20239 {
  position:absolute;
  left:894px;
  top:447px;
  width:83px;
  height:16px;
}
#u20240 {
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u20239_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20241 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20244 {
  position:absolute;
  left:403px;
  top:447px;
  width:83px;
  height:16px;
}
#u20245 {
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u20244_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20246 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:192px;
}
#u20247 {
  position:absolute;
  left:361px;
  top:245px;
  width:116px;
  height:192px;
}
#u20248 {
  position:absolute;
  left:2px;
  top:88px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20250 {
  position:absolute;
  left:403px;
  top:263px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20251 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20253 {
  position:absolute;
  left:403px;
  top:344px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20254 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20256 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20257 {
  position:absolute;
  left:504px;
  top:447px;
  width:83px;
  height:16px;
}
#u20258 {
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u20257_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20259 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:192px;
}
#u20260 {
  position:absolute;
  left:486px;
  top:245px;
  width:116px;
  height:192px;
}
#u20261 {
  position:absolute;
  left:2px;
  top:88px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20263 {
  position:absolute;
  left:527px;
  top:263px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20264 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20266 {
  position:absolute;
  left:528px;
  top:344px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20267 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:192px;
}
#u20269 {
  position:absolute;
  left:610px;
  top:245px;
  width:116px;
  height:192px;
}
#u20270 {
  position:absolute;
  left:2px;
  top:88px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20272 {
  position:absolute;
  left:651px;
  top:263px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20273 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20275 {
  position:absolute;
  left:652px;
  top:344px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20276 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:192px;
}
#u20278 {
  position:absolute;
  left:736px;
  top:245px;
  width:116px;
  height:192px;
}
#u20279 {
  position:absolute;
  left:2px;
  top:88px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20281 {
  position:absolute;
  left:778px;
  top:263px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20282 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20284 {
  position:absolute;
  left:779px;
  top:344px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20285 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20286 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:192px;
}
#u20287 {
  position:absolute;
  left:861px;
  top:245px;
  width:116px;
  height:192px;
}
#u20288 {
  position:absolute;
  left:2px;
  top:88px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20290 {
  position:absolute;
  left:903px;
  top:263px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20291 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20293 {
  position:absolute;
  left:903px;
  top:344px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20294 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u20295 {
  position:absolute;
  left:388px;
  top:211px;
  width:37px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u20296 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u20297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20297 {
  position:absolute;
  left:508px;
  top:548px;
  width:108px;
  height:28px;
}
#u20298 {
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u20299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u20299 {
  position:absolute;
  left:636px;
  top:548px;
  width:108px;
  height:28px;
  color:#FF0000;
}
#u20300 {
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u20301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u20301 {
  position:absolute;
  left:394px;
  top:520px;
  width:37px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u20302 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u20303 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20304 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u20305 {
  position:absolute;
  left:386px;
  top:597px;
  width:90px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u20306 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u20307 {
  position:absolute;
  left:508px;
  top:597px;
  width:81px;
  height:22px;
}
#u20307_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20307_input:disabled {
  color:grayText;
}
#u20308 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20309 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u20310 {
  position:absolute;
  left:386px;
  top:557px;
  width:90px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u20311 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
