body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39526 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39527 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u39528 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39529 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u39530 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u39531 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u39532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u39532 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u39533 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39534 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u39535 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u39536 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39537_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u39537 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u39538 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u39539 {
  position:absolute;
  left:41px;
  top:102px;
  width:150px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u39540 {
  position:absolute;
  left:0px;
  top:11px;
  width:150px;
  word-wrap:break-word;
}
#u39542 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:736px;
}
#u39543 {
  position:absolute;
  left:0px;
  top:88px;
  width:196px;
  height:736px;
}
#u39544 {
  position:absolute;
  left:2px;
  top:360px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39545 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39547 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39548 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u39549 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u39550 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u39551 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u39552 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u39553 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u39554 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u39555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u39555 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u39556 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u39557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u39557 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u39558 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u39559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u39559 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u39560 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u39561 {
  position:absolute;
  left:1270px;
  top:757px;
  width:26px;
  height:23px;
}
#u39562 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u39563 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u39564 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u39565 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39566 {
  position:absolute;
  left:243px;
  top:255px;
  width:1199px;
  height:54px;
}
#u39567 {
  position:absolute;
  left:2px;
  top:19px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u39568 {
  position:absolute;
  left:390px;
  top:275px;
  width:61px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u39569 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u39570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u39570 {
  position:absolute;
  left:892px;
  top:275px;
  width:124px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u39571 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u39572 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39573 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u39574 {
  position:absolute;
  left:673px;
  top:275px;
  width:102px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u39575 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u39576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u39576 {
  position:absolute;
  left:667px;
  top:340px;
  width:85px;
  height:16px;
}
#u39577 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u39578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u39578 {
  position:absolute;
  left:667px;
  top:391px;
  width:85px;
  height:16px;
}
#u39579 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u39580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u39580 {
  position:absolute;
  left:667px;
  top:440px;
  width:85px;
  height:22px;
}
#u39581 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u39582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u39582 {
  position:absolute;
  left:667px;
  top:493px;
  width:85px;
  height:22px;
}
#u39583 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u39584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u39584 {
  position:absolute;
  left:667px;
  top:550px;
  width:85px;
  height:22px;
}
#u39585 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u39586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u39586 {
  position:absolute;
  left:1245px;
  top:275px;
  width:61px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u39587 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u39588 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u39589 {
  position:absolute;
  left:291px;
  top:340px;
  width:61px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u39590 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u39591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u39591 {
  position:absolute;
  left:289px;
  top:389px;
  width:61px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u39592 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u39593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u39593 {
  position:absolute;
  left:862px;
  top:352px;
  width:119px;
  height:16px;
}
#u39594 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u39595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u39595 {
  position:absolute;
  left:862px;
  top:391px;
  width:119px;
  height:16px;
}
#u39596 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u39597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u39597 {
  position:absolute;
  left:1143px;
  top:187px;
  width:109px;
  height:40px;
  font-size:20px;
}
#u39598 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u39599 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u39600 {
  position:absolute;
  left:290px;
  top:454px;
  width:61px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u39601 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u39602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u39602 {
  position:absolute;
  left:290px;
  top:503px;
  width:61px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u39603 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u39604 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u39605 {
  position:absolute;
  left:291px;
  top:550px;
  width:61px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u39606 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u39607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u39607 {
  position:absolute;
  left:862px;
  top:439px;
  width:119px;
  height:16px;
}
#u39608 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u39609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u39609 {
  position:absolute;
  left:862px;
  top:485px;
  width:119px;
  height:16px;
}
#u39610 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u39611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u39611 {
  position:absolute;
  left:862px;
  top:541px;
  width:119px;
  height:16px;
}
#u39612 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u39614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39614 {
  position:absolute;
  left:555px;
  top:0px;
  width:197px;
  height:89px;
}
#u39614_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39614.mouseOver {
}
#u39615 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:72px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39616 {
  position:absolute;
  left:1131px;
  top:171px;
  width:159px;
  height:72px;
}
#u39616_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:72px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39616.mouseOver {
}
#u39617 {
  position:absolute;
  left:2px;
  top:28px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:48px;
}
#u39618 {
  position:absolute;
  left:362px;
  top:375px;
  width:70px;
  height:48px;
}
#u39619 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:50px;
}
#u39620 {
  position:absolute;
  left:363px;
  top:429px;
  width:68px;
  height:50px;
}
#u39621 {
  position:absolute;
  left:2px;
  top:17px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:49px;
}
#u39622 {
  position:absolute;
  left:358px;
  top:484px;
  width:75px;
  height:49px;
}
#u39623 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:44px;
}
#u39624 {
  position:absolute;
  left:362px;
  top:540px;
  width:70px;
  height:44px;
}
#u39625 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:46px;
}
#u39626 {
  position:absolute;
  left:362px;
  top:322px;
  width:71px;
  height:46px;
}
#u39627 {
  position:absolute;
  left:2px;
  top:15px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:45px;
}
#u39628 {
  position:absolute;
  left:1221px;
  top:323px;
  width:69px;
  height:45px;
}
#u39629 {
  position:absolute;
  left:2px;
  top:14px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:45px;
}
#u39630 {
  position:absolute;
  left:1221px;
  top:368px;
  width:69px;
  height:45px;
}
#u39631 {
  position:absolute;
  left:2px;
  top:14px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:45px;
}
#u39632 {
  position:absolute;
  left:1221px;
  top:413px;
  width:69px;
  height:45px;
}
#u39633 {
  position:absolute;
  left:2px;
  top:14px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:45px;
}
#u39634 {
  position:absolute;
  left:1221px;
  top:468px;
  width:69px;
  height:45px;
}
#u39635 {
  position:absolute;
  left:2px;
  top:14px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:45px;
}
#u39636 {
  position:absolute;
  left:1221px;
  top:523px;
  width:69px;
  height:45px;
}
#u39637 {
  position:absolute;
  left:2px;
  top:14px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39639 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39640 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(125, 192, 11, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 190, 38, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u39641 {
  position:absolute;
  left:671px;
  top:749px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u39642 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u39643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u39643 {
  position:absolute;
  left:716px;
  top:749px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#797979;
}
#u39644 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u39645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u39645 {
  position:absolute;
  left:761px;
  top:749px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#797979;
}
#u39646 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u39647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u39647 {
  position:absolute;
  left:806px;
  top:749px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#797979;
}
#u39648 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u39649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u39649 {
  position:absolute;
  left:851px;
  top:749px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#797979;
}
#u39650 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u39651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u39651 {
  position:absolute;
  left:923px;
  top:749px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#797979;
}
#u39652 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u39653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#797979;
}
#u39653 {
  position:absolute;
  left:969px;
  top:749px;
  width:60px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#797979;
}
#u39654 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u39655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u39655 {
  position:absolute;
  left:901px;
  top:758px;
  width:21px;
  height:22px;
  font-size:16px;
}
#u39656 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u39657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#868686;
}
#u39657 {
  position:absolute;
  left:1039px;
  top:758px;
  width:77px;
  height:22px;
  font-size:16px;
  color:#868686;
}
#u39658 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u39659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#868686;
}
#u39659 {
  position:absolute;
  left:1116px;
  top:758px;
  width:34px;
  height:22px;
  font-size:16px;
  color:#868686;
}
#u39660 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u39661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u39661 {
  position:absolute;
  left:1154px;
  top:749px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#797979;
}
#u39662 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u39663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u39663 {
  position:absolute;
  left:1202px;
  top:758px;
  width:34px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u39664 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u39665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#797979;
}
#u39665 {
  position:absolute;
  left:1223px;
  top:749px;
  width:47px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#797979;
}
#u39666 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u39667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u39667 {
  position:absolute;
  left:529px;
  top:749px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#797979;
}
#u39668 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u39669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#A1A1A1;
}
#u39669 {
  position:absolute;
  left:370px;
  top:758px;
  width:221px;
  height:19px;
  font-size:16px;
  color:#A1A1A1;
}
#u39670 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u39671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39671 {
  position:absolute;
  left:260px;
  top:276px;
  width:16px;
  height:15px;
}
#u39672 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39673 {
  position:absolute;
  left:260px;
  top:340px;
  width:16px;
  height:15px;
}
#u39674 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39675 {
  position:absolute;
  left:260px;
  top:393px;
  width:16px;
  height:15px;
}
#u39676 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39677 {
  position:absolute;
  left:260px;
  top:453px;
  width:16px;
  height:15px;
}
#u39678 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39679 {
  position:absolute;
  left:259px;
  top:507px;
  width:16px;
  height:15px;
}
#u39680 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39681 {
  position:absolute;
  left:257px;
  top:552px;
  width:16px;
  height:15px;
}
#u39682 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39683 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39684 {
  position:absolute;
  left:1221px;
  top:364px;
  width:76px;
  height:115px;
}
#u39685 {
  position:absolute;
  left:2px;
  top:50px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u39686 {
  position:absolute;
  left:1221px;
  top:409px;
  width:76px;
  height:16px;
  text-align:center;
}
#u39687 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u39688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u39688 {
  position:absolute;
  left:1221px;
  top:445px;
  width:76px;
  height:16px;
  text-align:center;
}
#u39689 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u39691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u39691 {
  position:absolute;
  left:0px;
  top:231px;
  width:196px;
  height:16px;
  font-size:14px;
  color:#282828;
  text-align:center;
}
#u39692 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u39693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u39693 {
  position:absolute;
  left:50px;
  top:119px;
  width:123px;
  height:16px;
  font-size:14px;
  color:#282828;
}
#u39694 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u39695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u39695 {
  position:absolute;
  left:0px;
  top:262px;
  width:196px;
  height:16px;
  font-size:14px;
  color:#282828;
  text-align:center;
}
#u39696 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u39697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u39697 {
  position:absolute;
  left:0px;
  top:298px;
  width:196px;
  height:16px;
  font-size:14px;
  color:#282828;
  text-align:center;
}
#u39698 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u39699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u39699 {
  position:absolute;
  left:55px;
  top:367px;
  width:123px;
  height:16px;
  font-size:14px;
  color:#282828;
}
#u39700 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u39701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u39701 {
  position:absolute;
  left:0px;
  top:401px;
  width:196px;
  height:16px;
  font-size:14px;
  color:#282828;
  text-align:center;
}
#u39702 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u39703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u39703 {
  position:absolute;
  left:53px;
  top:475px;
  width:123px;
  height:16px;
  font-size:14px;
  color:#282828;
}
#u39704 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u39705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
}
#u39705 {
  position:absolute;
  left:21px;
  top:119px;
  width:19px;
  height:14px;
}
#u39706 {
  position:absolute;
  left:2px;
  top:-1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u39707 {
  position:absolute;
  left:23px;
  top:367px;
  width:22px;
  height:17px;
}
#u39708 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u39709 {
  position:absolute;
  left:18px;
  top:470px;
  width:25px;
  height:25px;
}
#u39710 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u39711 {
  position:absolute;
  left:0px;
  top:152px;
  width:196px;
  height:16px;
  font-size:14px;
  color:#282828;
  text-align:center;
}
#u39712 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u39713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u39713 {
  position:absolute;
  left:2px;
  top:508px;
  width:196px;
  height:16px;
  font-size:14px;
  color:#282828;
  text-align:center;
}
#u39714 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u39715 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u39716 {
  position:absolute;
  left:72px;
  top:192px;
  width:90px;
  height:16px;
  font-size:14px;
  color:#282828;
}
#u39717 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u39718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#006600;
}
#u39718 {
  position:absolute;
  left:36px;
  top:454px;
  width:127px;
  height:25px;
  font-size:14px;
  color:#006600;
}
#u39719 {
  position:absolute;
  left:2px;
  top:4px;
  width:123px;
  word-wrap:break-word;
}
#u39720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:20px;
}
#u39720 {
  position:absolute;
  left:290px;
  top:102px;
  width:274px;
  height:20px;
}
#u39721 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u39722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u39722 {
  position:absolute;
  left:259px;
  top:102px;
  width:21px;
  height:19px;
}
#u39723 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
