body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25522 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25523 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u25524 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25525 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u25526 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u25527 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u25528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u25528 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u25529 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25530 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u25531 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u25532 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25533_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u25533 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u25534 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25536 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25537 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u25538 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u25539 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u25540 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u25541 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u25542 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u25543 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u25544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u25544 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u25545 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u25546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u25546 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u25547 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u25548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u25548 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u25549 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u25550 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u25551 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u25552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u25552 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u25553 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25554_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:10px;
}
#u25554 {
  position:absolute;
  left:5px;
  top:164px;
  width:59px;
  height:5px;
}
#u25555 {
  position:absolute;
  left:2px;
  top:-6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u25556 {
  position:absolute;
  left:9px;
  top:130px;
  width:50px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u25557 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u25558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1135px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25558 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:1135px;
}
#u25559 {
  position:absolute;
  left:2px;
  top:560px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:1029px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25560 {
  position:absolute;
  left:66px;
  top:260px;
  width:708px;
  height:1029px;
}
#u25561 {
  position:absolute;
  left:2px;
  top:506px;
  width:704px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25563 {
  position:absolute;
  left:401px;
  top:2px;
  width:197px;
  height:89px;
}
#u25563_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25563.mouseOver {
}
#u25564 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25566 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25567 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:32px;
}
#u25568 {
  position:absolute;
  left:267px;
  top:283px;
  width:19px;
  height:32px;
}
#u25569 {
  position:absolute;
  left:2px;
  top:8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25570 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u25571 {
  position:absolute;
  left:162px;
  top:286px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u25572 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u25573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u25573 {
  position:absolute;
  left:108px;
  top:278px;
  width:44px;
  height:44px;
  font-size:18px;
  color:#797979;
}
#u25574 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u25575 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u25576 {
  position:absolute;
  left:351px;
  top:286px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u25577 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u25578 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u25579 {
  position:absolute;
  left:297px;
  top:278px;
  width:44px;
  height:44px;
  font-size:18px;
  color:#797979;
}
#u25580 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u25581 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:813px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25582 {
  position:absolute;
  left:140px;
  top:345px;
  width:484px;
  height:813px;
}
#u25583 {
  position:absolute;
  left:2px;
  top:398px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25584 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25585 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u25586 {
  position:absolute;
  left:187px;
  top:1075px;
  width:56px;
  height:44px;
}
#u25587 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u25588 {
  position:absolute;
  left:184px;
  top:1129px;
  width:58px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u25589 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u25590 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u25591 {
  position:absolute;
  left:265px;
  top:1076px;
  width:56px;
  height:44px;
}
#u25592 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u25593 {
  position:absolute;
  left:242px;
  top:1130px;
  width:99px;
  height:19px;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u25594 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u25595 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u25596 {
  position:absolute;
  left:344px;
  top:1076px;
  width:56px;
  height:44px;
}
#u25597 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
}
#u25598 {
  position:absolute;
  left:341px;
  top:1130px;
  width:79px;
  height:19px;
  font-size:16px;
  color:#008000;
  text-align:center;
}
#u25599 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u25600 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u25601 {
  position:absolute;
  left:423px;
  top:1076px;
  width:56px;
  height:44px;
}
#u25602 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u25603 {
  position:absolute;
  left:420px;
  top:1130px;
  width:58px;
  height:19px;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u25604 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u25605 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u25606 {
  position:absolute;
  left:512px;
  top:1076px;
  width:56px;
  height:44px;
}
#u25607 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u25608 {
  position:absolute;
  left:509px;
  top:1130px;
  width:58px;
  height:19px;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u25609 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u25610 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25611 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:156px;
}
#u25612 {
  position:absolute;
  left:157px;
  top:527px;
  width:450px;
  height:156px;
}
#u25613 {
  position:absolute;
  left:2px;
  top:70px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u25614 {
  position:absolute;
  left:157px;
  top:683px;
  width:450px;
  height:33px;
  font-size:18px;
  text-align:left;
}
#u25615 {
  position:absolute;
  left:2px;
  top:6px;
  width:446px;
  word-wrap:break-word;
}
#u25616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#949494;
  text-align:left;
}
#u25616 {
  position:absolute;
  left:157px;
  top:716px;
  width:450px;
  height:33px;
  font-size:18px;
  color:#949494;
  text-align:left;
}
#u25617 {
  position:absolute;
  left:2px;
  top:6px;
  width:446px;
  word-wrap:break-word;
}
#u25618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:68px;
}
#u25618 {
  position:absolute;
  left:175px;
  top:409px;
  width:62px;
  height:68px;
}
#u25619 {
  position:absolute;
  left:2px;
  top:26px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25620 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25621 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:68px;
}
#u25622 {
  position:absolute;
  left:290px;
  top:409px;
  width:62px;
  height:68px;
}
#u25623 {
  position:absolute;
  left:2px;
  top:26px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u25624 {
  position:absolute;
  left:287px;
  top:487px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u25625 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:68px;
}
#u25626 {
  position:absolute;
  left:401px;
  top:408px;
  width:62px;
  height:68px;
}
#u25627 {
  position:absolute;
  left:2px;
  top:26px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u25628 {
  position:absolute;
  left:172px;
  top:487px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u25629 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u25630 {
  position:absolute;
  left:401px;
  top:487px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u25631 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25632 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:68px;
}
#u25633 {
  position:absolute;
  left:522px;
  top:411px;
  width:62px;
  height:68px;
}
#u25634 {
  position:absolute;
  left:2px;
  top:26px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u25635 {
  position:absolute;
  left:522px;
  top:490px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u25636 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u25638 {
  position:absolute;
  left:253px;
  top:1209px;
  width:101px;
  height:40px;
  font-size:18px;
}
#u25639 {
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u25640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u25640 {
  position:absolute;
  left:479px;
  top:1209px;
  width:107px;
  height:40px;
  font-size:18px;
}
#u25641 {
  position:absolute;
  left:2px;
  top:9px;
  width:103px;
  word-wrap:break-word;
}
#u25642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u25642 {
  position:absolute;
  left:135px;
  top:1209px;
  width:101px;
  height:40px;
  font-size:18px;
}
#u25643 {
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u25644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u25644 {
  position:absolute;
  left:368px;
  top:1209px;
  width:101px;
  height:40px;
  font-size:18px;
}
#u25645 {
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u25646 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u25647 {
  position:absolute;
  left:351px;
  top:286px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u25648 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u25649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u25649 {
  position:absolute;
  left:297px;
  top:278px;
  width:44px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u25650 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u25651 {
  position:absolute;
  left:268px;
  top:364px;
  width:228px;
  height:22px;
}
#u25651_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u25651_input:disabled {
  color:grayText;
}
