body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1314px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14146 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u14147 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u14149 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u14150 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u14151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u14151 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u14152 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u14154 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u14155 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14156_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u14156 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u14157 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14159 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14161 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u14162 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u14163 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u14164 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u14165 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u14166 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u14167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u14167 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u14168 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u14169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u14169 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u14170 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u14171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u14171 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u14172 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u14173 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u14174 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u14175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u14175 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u14176 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14177_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:10px;
}
#u14177 {
  position:absolute;
  left:5px;
  top:164px;
  width:59px;
  height:5px;
}
#u14178 {
  position:absolute;
  left:2px;
  top:-6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u14179 {
  position:absolute;
  left:9px;
  top:130px;
  width:50px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u14180 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u14181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1067px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14181 {
  position:absolute;
  left:-128px;
  top:167px;
  width:1437px;
  height:1067px;
}
#u14182 {
  position:absolute;
  left:2px;
  top:526px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:636px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14183 {
  position:absolute;
  left:283px;
  top:260px;
  width:648px;
  height:636px;
}
#u14184 {
  position:absolute;
  left:2px;
  top:310px;
  width:644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u14185 {
  position:absolute;
  left:523px;
  top:829px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u14186 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u14188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14188 {
  position:absolute;
  left:401px;
  top:1px;
  width:197px;
  height:89px;
}
#u14188_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14188.mouseOver {
}
#u14189 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:68px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14190 {
  position:absolute;
  left:467px;
  top:809px;
  width:281px;
  height:68px;
}
#u14190_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:68px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14190.mouseOver {
}
#u14191 {
  position:absolute;
  left:2px;
  top:26px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14192 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14193 {
  position:absolute;
  left:424px;
  top:332px;
  width:333px;
  height:36px;
}
#u14194 {
  position:absolute;
  left:2px;
  top:10px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14195 {
  position:absolute;
  left:343px;
  top:342px;
  width:29px;
  height:16px;
}
#u14196 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u14197 {
  position:absolute;
  left:557px;
  top:396px;
  width:41px;
  height:41px;
  font-size:48px;
}
#u14198 {
  position:absolute;
  left:2px;
  top:-8px;
  width:37px;
  word-wrap:break-word;
}
