body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27902 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u27903 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u27905 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u27906 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u27907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u27907 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u27908 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u27910 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u27911 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27912_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u27912 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u27913 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u27917 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u27918 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u27919 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u27920 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u27921 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u27922 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u27923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u27923 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u27924 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u27925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u27925 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u27926 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u27927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u27927 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u27928 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u27929 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u27930 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u27931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u27931 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u27932 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27933_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:10px;
}
#u27933 {
  position:absolute;
  left:443px;
  top:162px;
  width:59px;
  height:5px;
}
#u27934 {
  position:absolute;
  left:2px;
  top:-6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:862px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27935 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:862px;
}
#u27936 {
  position:absolute;
  left:2px;
  top:423px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:838px;
  height:512px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27937 {
  position:absolute;
  left:240px;
  top:250px;
  width:838px;
  height:512px;
}
#u27938 {
  position:absolute;
  left:2px;
  top:248px;
  width:834px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27940 {
  position:absolute;
  left:401px;
  top:2px;
  width:197px;
  height:89px;
}
#u27940_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27940.mouseOver {
}
#u27941 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u27943 {
  position:absolute;
  left:5px;
  top:137px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u27944 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u27945 {
  position:absolute;
  left:92px;
  top:137px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u27946 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u27947 {
  position:absolute;
  left:174px;
  top:137px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u27948 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u27949 {
  position:absolute;
  left:262px;
  top:137px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u27950 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27951 {
  position:absolute;
  left:5px;
  top:126px;
  width:65px;
  height:41px;
}
#u27951_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27951.mouseOver {
}
#u27952 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27953 {
  position:absolute;
  left:92px;
  top:126px;
  width:65px;
  height:41px;
}
#u27953_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27953.mouseOver {
}
#u27954 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27955 {
  position:absolute;
  left:174px;
  top:126px;
  width:65px;
  height:41px;
}
#u27955_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27955.mouseOver {
}
#u27956 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27957 {
  position:absolute;
  left:262px;
  top:126px;
  width:65px;
  height:41px;
}
#u27957_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27957.mouseOver {
}
#u27958 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u27959 {
  position:absolute;
  left:352px;
  top:137px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u27960 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u27961 {
  position:absolute;
  left:450px;
  top:137px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u27962 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u27963 {
  position:absolute;
  left:431px;
  top:129px;
  width:98px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u27964 {
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u27966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27967 {
  position:absolute;
  left:335px;
  top:211px;
  width:180px;
  height:26px;
}
#u27967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u27967_input:disabled {
  color:grayText;
}
#u27968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u27968 {
  position:absolute;
  left:247px;
  top:208px;
  width:78px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u27969 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u27970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:35px;
}
#u27970 {
  position:absolute;
  left:193px;
  top:173px;
  width:869px;
  height:35px;
}
#u27971 {
  position:absolute;
  left:2px;
  top:10px;
  width:865px;
  word-wrap:break-word;
}
#u27973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1416px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27974 {
  position:absolute;
  left:5px;
  top:846px;
  width:1416px;
  height:98px;
}
#u27975 {
  position:absolute;
  left:2px;
  top:41px;
  width:1412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u27977 {
  position:absolute;
  left:395px;
  top:875px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u27978 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u27979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u27979 {
  position:absolute;
  left:622px;
  top:875px;
  width:159px;
  height:40px;
  font-size:20px;
}
#u27980 {
  position:absolute;
  left:2px;
  top:8px;
  width:155px;
  word-wrap:break-word;
}
