body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21826 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u21827 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u21829 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u21830 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u21831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u21831 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u21832 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u21834 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u21835 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21836_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u21836 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u21837 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21840 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21841 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u21842 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u21843 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u21844 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u21845 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u21846 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u21847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u21847 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u21848 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u21849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u21849 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u21850 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u21851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u21851 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u21852 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u21853 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u21854 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u21855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u21855 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u21856 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21857_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:10px;
}
#u21857 {
  position:absolute;
  left:5px;
  top:164px;
  width:59px;
  height:5px;
}
#u21858 {
  position:absolute;
  left:2px;
  top:-6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u21859 {
  position:absolute;
  left:9px;
  top:130px;
  width:50px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u21860 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u21861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1135px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21861 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:1135px;
}
#u21862 {
  position:absolute;
  left:2px;
  top:560px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21864 {
  position:absolute;
  left:401px;
  top:2px;
  width:197px;
  height:89px;
}
#u21864_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21864.mouseOver {
}
#u21865 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:739px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21867 {
  position:absolute;
  left:346px;
  top:224px;
  width:601px;
  height:739px;
}
#u21868 {
  position:absolute;
  left:2px;
  top:362px;
  width:597px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21869 {
  position:absolute;
  left:394px;
  top:314px;
  width:530px;
  height:145px;
}
#u21870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:52px;
}
#u21870 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:52px;
}
#u21871 {
  position:absolute;
  left:2px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u21872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:52px;
}
#u21872 {
  position:absolute;
  left:88px;
  top:0px;
  width:88px;
  height:52px;
}
#u21873 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u21874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:52px;
}
#u21874 {
  position:absolute;
  left:176px;
  top:0px;
  width:88px;
  height:52px;
}
#u21875 {
  position:absolute;
  left:2px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u21876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:52px;
}
#u21876 {
  position:absolute;
  left:264px;
  top:0px;
  width:88px;
  height:52px;
}
#u21877 {
  position:absolute;
  left:2px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u21878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:52px;
}
#u21878 {
  position:absolute;
  left:352px;
  top:0px;
  width:88px;
  height:52px;
}
#u21879 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u21880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:52px;
}
#u21880 {
  position:absolute;
  left:440px;
  top:0px;
  width:85px;
  height:52px;
}
#u21881 {
  position:absolute;
  left:2px;
  top:18px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
}
#u21882 {
  position:absolute;
  left:0px;
  top:52px;
  width:88px;
  height:44px;
}
#u21883 {
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
}
#u21884 {
  position:absolute;
  left:88px;
  top:52px;
  width:88px;
  height:44px;
}
#u21885 {
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
}
#u21886 {
  position:absolute;
  left:176px;
  top:52px;
  width:88px;
  height:44px;
}
#u21887 {
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
}
#u21888 {
  position:absolute;
  left:264px;
  top:52px;
  width:88px;
  height:44px;
}
#u21889 {
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
}
#u21890 {
  position:absolute;
  left:352px;
  top:52px;
  width:88px;
  height:44px;
}
#u21891 {
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:44px;
}
#u21892 {
  position:absolute;
  left:440px;
  top:52px;
  width:85px;
  height:44px;
}
#u21893 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
}
#u21894 {
  position:absolute;
  left:0px;
  top:96px;
  width:88px;
  height:44px;
}
#u21895 {
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
}
#u21896 {
  position:absolute;
  left:88px;
  top:96px;
  width:88px;
  height:44px;
}
#u21897 {
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
}
#u21898 {
  position:absolute;
  left:176px;
  top:96px;
  width:88px;
  height:44px;
}
#u21899 {
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
}
#u21900 {
  position:absolute;
  left:264px;
  top:96px;
  width:88px;
  height:44px;
}
#u21901 {
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
}
#u21902 {
  position:absolute;
  left:352px;
  top:96px;
  width:88px;
  height:44px;
}
#u21903 {
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:44px;
}
#u21904 {
  position:absolute;
  left:440px;
  top:96px;
  width:85px;
  height:44px;
}
#u21905 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u21906 {
  position:absolute;
  left:892px;
  top:338px;
  width:27px;
  height:27px;
  font-size:18px;
}
#u21907 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
#u21908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u21908 {
  position:absolute;
  left:893px;
  top:426px;
  width:27px;
  height:27px;
  font-size:18px;
}
#u21909 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
#u21910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u21911 {
  position:absolute;
  left:541px;
  top:854px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u21912 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u21913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.627450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21913 {
  position:absolute;
  left:475px;
  top:818px;
  width:300px;
  height:112px;
}
#u21914 {
  position:absolute;
  left:2px;
  top:48px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u21916 {
  position:absolute;
  left:364px;
  top:197px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u21917 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u21918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u21918 {
  position:absolute;
  left:422px;
  top:197px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u21919 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u21920 {
  position:absolute;
  left:510px;
  top:197px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u21921 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u21922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u21922 {
  position:absolute;
  left:577px;
  top:197px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u21923 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u21924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u21924 {
  position:absolute;
  left:643px;
  top:197px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u21925 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u21926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u21926 {
  position:absolute;
  left:358px;
  top:192px;
  width:50px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u21927 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u21928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21928 {
  position:absolute;
  left:794px;
  top:308px;
  width:99px;
  height:152px;
}
#u21928_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21928.mouseOver {
}
#u21929 {
  position:absolute;
  left:2px;
  top:68px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
