body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1919px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28619 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28620 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u28621 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28622 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u28623 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u28624 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u28625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u28625 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u28626 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28627 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u28628 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u28629 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28630_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u28630 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u28631 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28633 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28634 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28635 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u28636 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u28637 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u28638 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u28639 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u28640 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u28641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u28641 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u28642 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u28643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u28643 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u28644 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u28645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u28645 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u28646 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u28647 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u28648 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u28649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u28649 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u28650 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28651_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:83px;
  height:10px;
}
#u28651 {
  position:absolute;
  left:5px;
  top:164px;
  width:78px;
  height:5px;
}
#u28652 {
  position:absolute;
  left:2px;
  top:-6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u28653 {
  position:absolute;
  left:9px;
  top:130px;
  width:74px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u28654 {
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u28655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1135px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28655 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:1135px;
}
#u28656 {
  position:absolute;
  left:2px;
  top:560px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28658 {
  position:absolute;
  left:401px;
  top:2px;
  width:197px;
  height:89px;
}
#u28658_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28658.mouseOver {
}
#u28659 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1433px;
  height:737px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28661 {
  position:absolute;
  left:9px;
  top:226px;
  width:1433px;
  height:737px;
}
#u28662 {
  position:absolute;
  left:2px;
  top:360px;
  width:1429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28663 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u28664 {
  position:absolute;
  left:541px;
  top:854px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u28665 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u28666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.627450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28666 {
  position:absolute;
  left:475px;
  top:818px;
  width:300px;
  height:112px;
}
#u28667 {
  position:absolute;
  left:2px;
  top:48px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28668 {
  position:absolute;
  left:1101px;
  top:291px;
  width:140px;
  height:40px;
}
#u28669 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u28670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1176px;
  height:346px;
}
#u28670 {
  position:absolute;
  left:138px;
  top:348px;
  width:1176px;
  height:346px;
}
#u28671 {
  position:absolute;
  left:2px;
  top:165px;
  width:1172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u28673 {
  position:absolute;
  left:67px;
  top:204px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u28674 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u28675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u28675 {
  position:absolute;
  left:148px;
  top:204px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u28676 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28677 {
  position:absolute;
  left:43px;
  top:206px;
  width:24px;
  height:16px;
}
#u28678 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28677_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28679 {
  position:absolute;
  left:122px;
  top:207px;
  width:24px;
  height:16px;
}
#u28680 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28679_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u28681 {
  position:absolute;
  left:33px;
  top:197px;
  width:50px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u28682 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u28683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1452px;
  height:963px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.329411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28683 {
  position:absolute;
  left:-10px;
  top:99px;
  width:1452px;
  height:963px;
}
#u28684 {
  position:absolute;
  left:2px;
  top:474px;
  width:1448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28685 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:97px;
}
#u28686 {
  position:absolute;
  left:416px;
  top:376px;
  width:465px;
  height:97px;
}
#u28687 {
  position:absolute;
  left:2px;
  top:40px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:234px;
}
#u28688 {
  position:absolute;
  left:416px;
  top:466px;
  width:465px;
  height:234px;
}
#u28689 {
  position:absolute;
  left:2px;
  top:109px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:60px;
}
#u28690 {
  position:absolute;
  left:416px;
  top:700px;
  width:465px;
  height:60px;
}
#u28691 {
  position:absolute;
  left:2px;
  top:22px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28692 {
  position:absolute;
  left:496px;
  top:470px;
  width:316px;
  height:69px;
}
#u28693 {
  position:absolute;
  left:2px;
  top:26px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28694 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u28695 {
  position:absolute;
  left:496px;
  top:561px;
  width:45px;
  height:46px;
  font-size:20px;
}
#u28696 {
  position:absolute;
  left:2px;
  top:11px;
  width:41px;
  word-wrap:break-word;
}
#u28697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
  text-align:right;
}
#u28697 {
  position:absolute;
  left:421px;
  top:578px;
  width:70px;
  height:16px;
  color:#797979;
  text-align:right;
}
#u28698 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u28699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
  text-align:right;
}
#u28699 {
  position:absolute;
  left:423px;
  top:646px;
  width:70px;
  height:16px;
  color:#797979;
  text-align:right;
}
#u28700 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u28701 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u28702 {
  position:absolute;
  left:496px;
  top:639px;
  width:30px;
  height:31px;
  font-size:20px;
}
#u28703 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u28704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
  text-align:right;
}
#u28704 {
  position:absolute;
  left:429px;
  top:479px;
  width:57px;
  height:16px;
  color:#797979;
  text-align:right;
}
#u28705 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u28706 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:97px;
}
#u28707 {
  position:absolute;
  left:1464px;
  top:412px;
  width:465px;
  height:97px;
}
#u28708 {
  position:absolute;
  left:2px;
  top:40px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:234px;
}
#u28709 {
  position:absolute;
  left:1464px;
  top:502px;
  width:465px;
  height:234px;
}
#u28710 {
  position:absolute;
  left:2px;
  top:109px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:60px;
}
#u28711 {
  position:absolute;
  left:1464px;
  top:736px;
  width:465px;
  height:60px;
}
#u28712 {
  position:absolute;
  left:2px;
  top:22px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28713 {
  position:absolute;
  left:1544px;
  top:506px;
  width:316px;
  height:69px;
}
#u28714 {
  position:absolute;
  left:2px;
  top:26px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28715 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u28716 {
  position:absolute;
  left:1544px;
  top:597px;
  width:45px;
  height:46px;
  font-size:20px;
}
#u28717 {
  position:absolute;
  left:2px;
  top:11px;
  width:41px;
  word-wrap:break-word;
}
#u28718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
  text-align:right;
}
#u28718 {
  position:absolute;
  left:1469px;
  top:614px;
  width:70px;
  height:16px;
  color:#797979;
  text-align:right;
}
#u28719 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u28720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
  text-align:right;
}
#u28720 {
  position:absolute;
  left:1471px;
  top:682px;
  width:70px;
  height:16px;
  color:#797979;
  text-align:right;
}
#u28721 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u28722 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u28723 {
  position:absolute;
  left:1544px;
  top:675px;
  width:45px;
  height:51px;
  font-size:20px;
}
#u28724 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u28725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
  text-align:right;
}
#u28725 {
  position:absolute;
  left:1471px;
  top:509px;
  width:70px;
  height:19px;
  color:#797979;
  text-align:right;
}
#u28726 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u28727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u28727 {
  position:absolute;
  left:1471px;
  top:412px;
  width:219px;
  height:33px;
  text-align:left;
}
#u28728 {
  position:absolute;
  left:2px;
  top:8px;
  width:215px;
  word-wrap:break-word;
}
