body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1919px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28339 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28340 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u28341 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28342 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u28343 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u28344 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u28345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u28345 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u28346 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28347 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u28348 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u28349 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28350_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u28350 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u28351 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28353 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28354 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28355 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u28356 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u28357 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u28358 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u28359 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u28360 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u28361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u28361 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u28362 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u28363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u28363 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u28364 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u28365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u28365 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u28366 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u28367 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u28368 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u28369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u28369 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u28370 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28371_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:83px;
  height:10px;
}
#u28371 {
  position:absolute;
  left:5px;
  top:164px;
  width:78px;
  height:5px;
}
#u28372 {
  position:absolute;
  left:2px;
  top:-6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u28373 {
  position:absolute;
  left:9px;
  top:130px;
  width:74px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u28374 {
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u28375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1135px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28375 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:1135px;
}
#u28376 {
  position:absolute;
  left:2px;
  top:560px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28378 {
  position:absolute;
  left:401px;
  top:2px;
  width:197px;
  height:89px;
}
#u28378_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28378.mouseOver {
}
#u28379 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28380 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1433px;
  height:737px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28381 {
  position:absolute;
  left:9px;
  top:226px;
  width:1433px;
  height:737px;
}
#u28382 {
  position:absolute;
  left:2px;
  top:360px;
  width:1429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28383 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u28384 {
  position:absolute;
  left:541px;
  top:854px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u28385 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u28386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.627450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28386 {
  position:absolute;
  left:475px;
  top:818px;
  width:300px;
  height:112px;
}
#u28387 {
  position:absolute;
  left:2px;
  top:48px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28388 {
  position:absolute;
  left:1101px;
  top:291px;
  width:140px;
  height:40px;
}
#u28389 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u28390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1176px;
  height:346px;
}
#u28390 {
  position:absolute;
  left:138px;
  top:348px;
  width:1176px;
  height:346px;
}
#u28391 {
  position:absolute;
  left:2px;
  top:165px;
  width:1172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u28393 {
  position:absolute;
  left:67px;
  top:204px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u28394 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u28395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u28395 {
  position:absolute;
  left:148px;
  top:204px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u28396 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28397 {
  position:absolute;
  left:43px;
  top:206px;
  width:24px;
  height:16px;
}
#u28398 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28397_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28399 {
  position:absolute;
  left:122px;
  top:207px;
  width:24px;
  height:16px;
}
#u28400 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28399_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u28401 {
  position:absolute;
  left:33px;
  top:197px;
  width:50px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u28402 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u28403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1452px;
  height:963px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.329411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28403 {
  position:absolute;
  left:-10px;
  top:99px;
  width:1452px;
  height:963px;
}
#u28404 {
  position:absolute;
  left:2px;
  top:474px;
  width:1448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28405 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:97px;
}
#u28406 {
  position:absolute;
  left:416px;
  top:376px;
  width:465px;
  height:97px;
}
#u28407 {
  position:absolute;
  left:2px;
  top:40px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:234px;
}
#u28408 {
  position:absolute;
  left:416px;
  top:466px;
  width:465px;
  height:234px;
}
#u28409 {
  position:absolute;
  left:2px;
  top:109px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:60px;
}
#u28410 {
  position:absolute;
  left:416px;
  top:700px;
  width:465px;
  height:60px;
}
#u28411 {
  position:absolute;
  left:2px;
  top:22px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28412 {
  position:absolute;
  left:496px;
  top:470px;
  width:316px;
  height:69px;
}
#u28413 {
  position:absolute;
  left:2px;
  top:26px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28414 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u28415 {
  position:absolute;
  left:496px;
  top:561px;
  width:45px;
  height:46px;
  font-size:20px;
}
#u28416 {
  position:absolute;
  left:2px;
  top:11px;
  width:41px;
  word-wrap:break-word;
}
#u28417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
  text-align:right;
}
#u28417 {
  position:absolute;
  left:421px;
  top:578px;
  width:70px;
  height:16px;
  color:#797979;
  text-align:right;
}
#u28418 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u28419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
  text-align:right;
}
#u28419 {
  position:absolute;
  left:423px;
  top:646px;
  width:70px;
  height:16px;
  color:#797979;
  text-align:right;
}
#u28420 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u28421 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u28422 {
  position:absolute;
  left:496px;
  top:639px;
  width:30px;
  height:31px;
  font-size:20px;
}
#u28423 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u28424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
  text-align:right;
}
#u28424 {
  position:absolute;
  left:429px;
  top:479px;
  width:57px;
  height:16px;
  color:#797979;
  text-align:right;
}
#u28425 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u28426 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:97px;
}
#u28427 {
  position:absolute;
  left:1464px;
  top:412px;
  width:465px;
  height:97px;
}
#u28428 {
  position:absolute;
  left:2px;
  top:40px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:234px;
}
#u28429 {
  position:absolute;
  left:1464px;
  top:502px;
  width:465px;
  height:234px;
}
#u28430 {
  position:absolute;
  left:2px;
  top:109px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:60px;
}
#u28431 {
  position:absolute;
  left:1464px;
  top:736px;
  width:465px;
  height:60px;
}
#u28432 {
  position:absolute;
  left:2px;
  top:22px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28433 {
  position:absolute;
  left:1544px;
  top:506px;
  width:316px;
  height:69px;
}
#u28434 {
  position:absolute;
  left:2px;
  top:26px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28435 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u28436 {
  position:absolute;
  left:1544px;
  top:597px;
  width:45px;
  height:46px;
  font-size:20px;
}
#u28437 {
  position:absolute;
  left:2px;
  top:11px;
  width:41px;
  word-wrap:break-word;
}
#u28438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
  text-align:right;
}
#u28438 {
  position:absolute;
  left:1469px;
  top:614px;
  width:70px;
  height:16px;
  color:#797979;
  text-align:right;
}
#u28439 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u28440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
  text-align:right;
}
#u28440 {
  position:absolute;
  left:1471px;
  top:682px;
  width:70px;
  height:16px;
  color:#797979;
  text-align:right;
}
#u28441 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u28442 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u28443 {
  position:absolute;
  left:1544px;
  top:675px;
  width:45px;
  height:51px;
  font-size:20px;
}
#u28444 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u28445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
  text-align:right;
}
#u28445 {
  position:absolute;
  left:1471px;
  top:509px;
  width:70px;
  height:19px;
  color:#797979;
  text-align:right;
}
#u28446 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u28447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u28447 {
  position:absolute;
  left:1471px;
  top:412px;
  width:219px;
  height:33px;
  text-align:left;
}
#u28448 {
  position:absolute;
  left:2px;
  top:8px;
  width:215px;
  word-wrap:break-word;
}
