body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20437 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20438 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u20439 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20440 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u20441 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u20442 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u20443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u20443 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u20444 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20445 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u20446 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u20447 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20448_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u20448 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u20449 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20451 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20452 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u20453 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u20454 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u20455 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u20456 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u20457 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u20458 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u20459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u20459 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u20460 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u20461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u20461 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u20462 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u20463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u20463 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u20464 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u20465 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u20466 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u20467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u20467 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u20468 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20469_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:10px;
}
#u20469 {
  position:absolute;
  left:5px;
  top:164px;
  width:59px;
  height:5px;
}
#u20470 {
  position:absolute;
  left:2px;
  top:-6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u20471 {
  position:absolute;
  left:9px;
  top:130px;
  width:50px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u20472 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u20473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1135px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20473 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:1135px;
}
#u20474 {
  position:absolute;
  left:2px;
  top:560px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20476 {
  position:absolute;
  left:401px;
  top:10px;
  width:197px;
  height:89px;
}
#u20476_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20476.mouseOver {
}
#u20477 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:648px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20478 {
  position:absolute;
  left:345px;
  top:177px;
  width:651px;
  height:648px;
}
#u20479 {
  position:absolute;
  left:2px;
  top:316px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u20480 {
  position:absolute;
  left:709px;
  top:702px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u20481 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u20482 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20483 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20484 {
  position:absolute;
  left:643px;
  top:447px;
  width:83px;
  height:16px;
}
#u20485 {
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u20484_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20486 {
  position:absolute;
  left:778px;
  top:447px;
  width:83px;
  height:16px;
}
#u20487 {
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u20486_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20488 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20489 {
  position:absolute;
  left:894px;
  top:447px;
  width:83px;
  height:16px;
}
#u20490 {
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u20489_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20491 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20492 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20493 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20494 {
  position:absolute;
  left:403px;
  top:447px;
  width:83px;
  height:16px;
}
#u20495 {
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u20494_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20496 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:192px;
}
#u20497 {
  position:absolute;
  left:361px;
  top:245px;
  width:116px;
  height:192px;
}
#u20498 {
  position:absolute;
  left:2px;
  top:88px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20500 {
  position:absolute;
  left:403px;
  top:263px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20501 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20503 {
  position:absolute;
  left:403px;
  top:344px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20504 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20505 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20506 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20507 {
  position:absolute;
  left:504px;
  top:447px;
  width:83px;
  height:16px;
}
#u20508 {
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u20507_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20509 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:192px;
}
#u20510 {
  position:absolute;
  left:486px;
  top:245px;
  width:116px;
  height:192px;
}
#u20511 {
  position:absolute;
  left:2px;
  top:88px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20513 {
  position:absolute;
  left:527px;
  top:263px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20514 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20516 {
  position:absolute;
  left:528px;
  top:344px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20517 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20518 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:192px;
}
#u20519 {
  position:absolute;
  left:610px;
  top:245px;
  width:116px;
  height:192px;
}
#u20520 {
  position:absolute;
  left:2px;
  top:88px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20522 {
  position:absolute;
  left:651px;
  top:263px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20523 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20525 {
  position:absolute;
  left:652px;
  top:344px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20526 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20527 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:192px;
}
#u20528 {
  position:absolute;
  left:736px;
  top:245px;
  width:116px;
  height:192px;
}
#u20529 {
  position:absolute;
  left:2px;
  top:88px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20531 {
  position:absolute;
  left:778px;
  top:263px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20532 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20534 {
  position:absolute;
  left:779px;
  top:344px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20535 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20536 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:192px;
}
#u20537 {
  position:absolute;
  left:861px;
  top:245px;
  width:116px;
  height:192px;
}
#u20538 {
  position:absolute;
  left:2px;
  top:88px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20540 {
  position:absolute;
  left:903px;
  top:263px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20541 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20543 {
  position:absolute;
  left:903px;
  top:344px;
  width:39px;
  height:37px;
  font-size:12px;
}
#u20544 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u20545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u20545 {
  position:absolute;
  left:388px;
  top:211px;
  width:37px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u20546 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u20547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u20547 {
  position:absolute;
  left:367px;
  top:473px;
  width:110px;
  height:37px;
  color:#949494;
}
#u20548 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u20549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u20549 {
  position:absolute;
  left:492px;
  top:473px;
  width:110px;
  height:37px;
  color:#949494;
}
#u20550 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u20551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u20551 {
  position:absolute;
  left:612px;
  top:473px;
  width:110px;
  height:37px;
  color:#949494;
}
#u20552 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u20553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u20553 {
  position:absolute;
  left:739px;
  top:473px;
  width:110px;
  height:37px;
  color:#949494;
}
#u20554 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u20555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u20555 {
  position:absolute;
  left:867px;
  top:473px;
  width:110px;
  height:37px;
  color:#949494;
}
#u20556 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u20557 {
  position:absolute;
  left:375px;
  top:520px;
  width:93px;
  height:22px;
}
#u20557_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20557_input:disabled {
  color:grayText;
}
#u20558 {
  position:absolute;
  left:499px;
  top:520px;
  width:93px;
  height:22px;
}
#u20558_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20558_input:disabled {
  color:grayText;
}
#u20559 {
  position:absolute;
  left:624px;
  top:520px;
  width:93px;
  height:22px;
}
#u20559_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20559_input:disabled {
  color:grayText;
}
#u20560 {
  position:absolute;
  left:748px;
  top:520px;
  width:93px;
  height:22px;
}
#u20560_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20560_input:disabled {
  color:grayText;
}
#u20561 {
  position:absolute;
  left:876px;
  top:520px;
  width:93px;
  height:22px;
}
#u20561_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20561_input:disabled {
  color:grayText;
}
#u20562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u20562 {
  position:absolute;
  left:477px;
  top:702px;
  width:146px;
  height:40px;
  font-size:18px;
}
#u20563 {
  position:absolute;
  left:2px;
  top:9px;
  width:142px;
  word-wrap:break-word;
}
