body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3611px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21907 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u21908 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u21910 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u21911 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u21912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u21912 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u21913 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u21915 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u21916 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21917_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u21917 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u21918 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21920 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21922 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u21923 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u21924 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u21925 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u21926 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u21927 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u21928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u21928 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u21929 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u21930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u21930 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u21931 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u21932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u21932 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u21933 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u21934 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u21935 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u21936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u21936 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u21937 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1135px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21938 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:1135px;
}
#u21939 {
  position:absolute;
  left:2px;
  top:560px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21941 {
  position:absolute;
  left:401px;
  top:10px;
  width:197px;
  height:89px;
}
#u21941_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21941.mouseOver {
}
#u21942 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:648px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21943 {
  position:absolute;
  left:345px;
  top:177px;
  width:651px;
  height:648px;
}
#u21944 {
  position:absolute;
  left:2px;
  top:316px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u21945 {
  position:absolute;
  left:615px;
  top:696px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u21946 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u21947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21949 {
  position:absolute;
  left:643px;
  top:447px;
  width:83px;
  height:16px;
}
#u21950 {
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u21949_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21951 {
  position:absolute;
  left:778px;
  top:447px;
  width:83px;
  height:16px;
}
#u21952 {
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u21951_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21954 {
  position:absolute;
  left:894px;
  top:447px;
  width:83px;
  height:16px;
}
#u21955 {
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u21954_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21959 {
  position:absolute;
  left:403px;
  top:447px;
  width:83px;
  height:16px;
}
#u21960 {
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u21959_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:192px;
}
#u21962 {
  position:absolute;
  left:361px;
  top:245px;
  width:116px;
  height:192px;
}
#u21963 {
  position:absolute;
  left:2px;
  top:88px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u21965 {
  position:absolute;
  left:408px;
  top:263px;
  width:39px;
  height:37px;
  font-size:20px;
}
#u21966 {
  position:absolute;
  left:2px;
  top:6px;
  width:35px;
  word-wrap:break-word;
}
#u21967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u21967 {
  position:absolute;
  left:403px;
  top:310px;
  width:49px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u21968 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u21970 {
  position:absolute;
  left:408px;
  top:344px;
  width:39px;
  height:37px;
  font-size:18px;
}
#u21971 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u21972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u21972 {
  position:absolute;
  left:403px;
  top:391px;
  width:49px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u21973 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21976 {
  position:absolute;
  left:504px;
  top:447px;
  width:83px;
  height:16px;
}
#u21977 {
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u21976_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:192px;
}
#u21979 {
  position:absolute;
  left:486px;
  top:245px;
  width:116px;
  height:192px;
}
#u21980 {
  position:absolute;
  left:2px;
  top:88px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u21982 {
  position:absolute;
  left:532px;
  top:263px;
  width:39px;
  height:37px;
  font-size:20px;
}
#u21983 {
  position:absolute;
  left:2px;
  top:6px;
  width:35px;
  word-wrap:break-word;
}
#u21984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u21984 {
  position:absolute;
  left:527px;
  top:310px;
  width:49px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u21985 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u21987 {
  position:absolute;
  left:533px;
  top:344px;
  width:39px;
  height:37px;
  font-size:18px;
}
#u21988 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u21989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u21989 {
  position:absolute;
  left:528px;
  top:391px;
  width:49px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u21990 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:192px;
}
#u21992 {
  position:absolute;
  left:610px;
  top:245px;
  width:116px;
  height:192px;
}
#u21993 {
  position:absolute;
  left:2px;
  top:88px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u21995 {
  position:absolute;
  left:656px;
  top:263px;
  width:39px;
  height:37px;
  font-size:20px;
}
#u21996 {
  position:absolute;
  left:2px;
  top:6px;
  width:35px;
  word-wrap:break-word;
}
#u21997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u21997 {
  position:absolute;
  left:651px;
  top:310px;
  width:49px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u21998 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u22000 {
  position:absolute;
  left:657px;
  top:344px;
  width:39px;
  height:37px;
  font-size:18px;
}
#u22001 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u22002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u22002 {
  position:absolute;
  left:652px;
  top:391px;
  width:49px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u22003 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:192px;
}
#u22005 {
  position:absolute;
  left:736px;
  top:245px;
  width:116px;
  height:192px;
}
#u22006 {
  position:absolute;
  left:2px;
  top:88px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u22008 {
  position:absolute;
  left:783px;
  top:263px;
  width:39px;
  height:37px;
  font-size:20px;
}
#u22009 {
  position:absolute;
  left:2px;
  top:6px;
  width:35px;
  word-wrap:break-word;
}
#u22010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u22010 {
  position:absolute;
  left:778px;
  top:310px;
  width:49px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u22011 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u22013 {
  position:absolute;
  left:784px;
  top:344px;
  width:39px;
  height:37px;
  font-size:18px;
}
#u22014 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u22015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u22015 {
  position:absolute;
  left:779px;
  top:391px;
  width:49px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u22016 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:192px;
}
#u22018 {
  position:absolute;
  left:861px;
  top:245px;
  width:116px;
  height:192px;
}
#u22019 {
  position:absolute;
  left:2px;
  top:88px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u22021 {
  position:absolute;
  left:908px;
  top:263px;
  width:39px;
  height:37px;
  font-size:20px;
}
#u22022 {
  position:absolute;
  left:2px;
  top:6px;
  width:35px;
  word-wrap:break-word;
}
#u22023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u22023 {
  position:absolute;
  left:903px;
  top:310px;
  width:49px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u22024 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u22026 {
  position:absolute;
  left:908px;
  top:344px;
  width:39px;
  height:37px;
  font-size:18px;
}
#u22027 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u22028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u22028 {
  position:absolute;
  left:903px;
  top:391px;
  width:49px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u22029 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u22030 {
  position:absolute;
  left:388px;
  top:211px;
  width:37px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u22031 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u22032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u22032 {
  position:absolute;
  left:367px;
  top:473px;
  width:110px;
  height:37px;
  color:#949494;
}
#u22033 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u22034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u22034 {
  position:absolute;
  left:492px;
  top:473px;
  width:110px;
  height:37px;
  color:#949494;
}
#u22035 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u22036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u22036 {
  position:absolute;
  left:612px;
  top:473px;
  width:110px;
  height:37px;
  color:#949494;
}
#u22037 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u22038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u22038 {
  position:absolute;
  left:739px;
  top:473px;
  width:110px;
  height:37px;
  color:#949494;
}
#u22039 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u22040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u22040 {
  position:absolute;
  left:867px;
  top:473px;
  width:110px;
  height:37px;
  color:#949494;
}
#u22041 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u22042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:99px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22042 {
  position:absolute;
  left:584px;
  top:667px;
  width:217px;
  height:99px;
}
#u22042_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:99px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22042.mouseOver {
}
#u22043 {
  position:absolute;
  left:2px;
  top:42px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u22045 {
  position:absolute;
  left:1022px;
  top:236px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u22046 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u22047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u22047 {
  position:absolute;
  left:1022px;
  top:186px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u22048 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u22049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:19px;
}
#u22049 {
  position:absolute;
  left:1065px;
  top:243px;
  width:238px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u22050 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u22051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u22051 {
  position:absolute;
  left:911px;
  top:211px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u22052 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u22053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u22053 {
  position:absolute;
  left:1006px;
  top:432px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u22054 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u22055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u22055 {
  position:absolute;
  left:1022px;
  top:279px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u22056 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u22057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:19px;
}
#u22057 {
  position:absolute;
  left:1065px;
  top:286px;
  width:417px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u22058 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u22059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u22059 {
  position:absolute;
  left:971px;
  top:475px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u22060 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u22061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u22061 {
  position:absolute;
  left:1022px;
  top:322px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u22062 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u22063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u22063 {
  position:absolute;
  left:1065px;
  top:332px;
  width:145px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u22064 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u22065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u22065 {
  position:absolute;
  left:1022px;
  top:365px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u22066 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u22067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u22067 {
  position:absolute;
  left:324px;
  top:530px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u22068 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u22069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:228px;
}
#u22069 {
  position:absolute;
  left:1065px;
  top:372px;
  width:177px;
  height:228px;
  font-size:16px;
  color:#FF0000;
}
#u22070 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u22071_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:109px;
  height:10px;
}
#u22071 {
  position:absolute;
  left:5px;
  top:164px;
  width:104px;
  height:5px;
}
#u22072 {
  position:absolute;
  left:2px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#797979;
}
#u22076 {
  position:absolute;
  left:42px;
  top:132px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#797979;
}
#u22077 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22078 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#797979;
}
#u22079 {
  position:absolute;
  left:162px;
  top:132px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#797979;
}
#u22080 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22082 {
  position:absolute;
  left:29px;
  top:131px;
  width:91px;
  height:27px;
}
#u22082_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22082.mouseOver {
}
#u22083 {
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22084 {
  position:absolute;
  left:149px;
  top:132px;
  width:91px;
  height:20px;
}
#u22084_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22084.mouseOver {
}
#u22085 {
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u22086 {
  position:absolute;
  left:0px;
  top:123px;
  width:116px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u22087 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u22089 {
  position:absolute;
  left:362px;
  top:527px;
  width:118px;
  height:22px;
}
#u22089_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22089_input:disabled {
  color:grayText;
}
#u22091 {
  position:absolute;
  left:486px;
  top:527px;
  width:118px;
  height:22px;
}
#u22091_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22091_input:disabled {
  color:grayText;
}
#u22093 {
  position:absolute;
  left:612px;
  top:527px;
  width:118px;
  height:22px;
}
#u22093_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22093_input:disabled {
  color:grayText;
}
#u22095 {
  position:absolute;
  left:737px;
  top:527px;
  width:118px;
  height:22px;
}
#u22095_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22095_input:disabled {
  color:grayText;
}
#u22097 {
  position:absolute;
  left:865px;
  top:527px;
  width:118px;
  height:22px;
}
#u22097_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22097_input:disabled {
  color:grayText;
}
#u22098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u22098 {
  position:absolute;
  left:1537px;
  top:35px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u22099 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:687px;
}
#u22100 {
  position:absolute;
  left:1537px;
  top:69px;
  width:366px;
  height:687px;
}
#u22101 {
  position:absolute;
  left:2px;
  top:336px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u22102 {
  position:absolute;
  left:1978px;
  top:35px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u22103 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:678px;
}
#u22104 {
  position:absolute;
  left:1978px;
  top:69px;
  width:359px;
  height:678px;
}
#u22105 {
  position:absolute;
  left:2px;
  top:331px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:664px;
}
#u22106 {
  position:absolute;
  left:2402px;
  top:69px;
  width:361px;
  height:664px;
}
#u22107 {
  position:absolute;
  left:2px;
  top:324px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:665px;
}
#u22108 {
  position:absolute;
  left:2833px;
  top:69px;
  width:360px;
  height:665px;
}
#u22109 {
  position:absolute;
  left:2px;
  top:324px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:651px;
}
#u22110 {
  position:absolute;
  left:1537px;
  top:943px;
  width:362px;
  height:651px;
}
#u22111 {
  position:absolute;
  left:2px;
  top:318px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:656px;
}
#u22112 {
  position:absolute;
  left:1978px;
  top:938px;
  width:360px;
  height:656px;
}
#u22113 {
  position:absolute;
  left:2px;
  top:320px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:662px;
}
#u22114 {
  position:absolute;
  left:2402px;
  top:932px;
  width:365px;
  height:662px;
}
#u22115 {
  position:absolute;
  left:2px;
  top:323px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:670px;
}
#u22116 {
  position:absolute;
  left:2833px;
  top:928px;
  width:360px;
  height:670px;
}
#u22117 {
  position:absolute;
  left:2px;
  top:327px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u22118 {
  position:absolute;
  left:2412px;
  top:35px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u22119 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u22120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
}
#u22120 {
  position:absolute;
  left:2833px;
  top:35px;
  width:161px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u22121 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u22122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:19px;
}
#u22122 {
  position:absolute;
  left:1537px;
  top:914px;
  width:170px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u22123 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u22124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u22124 {
  position:absolute;
  left:1978px;
  top:909px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u22125 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u22126 {
  position:absolute;
  left:2402px;
  top:905px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u22127 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u22128 {
  position:absolute;
  left:2833px;
  top:899px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u22129 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u22130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:601px;
}
#u22130 {
  position:absolute;
  left:3289px;
  top:928px;
  width:307px;
  height:601px;
}
#u22131 {
  position:absolute;
  left:2px;
  top:292px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u22132 {
  position:absolute;
  left:3289px;
  top:899px;
  width:129px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u22133 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u22134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:38px;
}
#u22134 {
  position:absolute;
  left:1537px;
  top:766px;
  width:305px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u22135 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u22136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:19px;
}
#u22136 {
  position:absolute;
  left:1992px;
  top:766px;
  width:225px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u22137 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u22138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:38px;
}
#u22138 {
  position:absolute;
  left:2402px;
  top:766px;
  width:225px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u22139 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u22140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:38px;
}
#u22140 {
  position:absolute;
  left:1992px;
  top:1642px;
  width:385px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u22141 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u22142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:38px;
}
#u22142 {
  position:absolute;
  left:2426px;
  top:1642px;
  width:385px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u22143 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u22144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u22144 {
  position:absolute;
  left:3274px;
  top:35px;
  width:53px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u22145 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:619px;
}
#u22146 {
  position:absolute;
  left:3254px;
  top:64px;
  width:357px;
  height:619px;
}
#u22147 {
  position:absolute;
  left:2px;
  top:302px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
