body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11622 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11623 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u11624 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11625 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u11626 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u11627 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u11628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u11628 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u11629 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11630 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u11631 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u11632 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11633_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u11633 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u11634 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11636 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11637 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u11638 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u11639 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u11640 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u11641 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u11642 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u11643 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u11644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u11644 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u11645 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u11646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u11646 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u11647 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u11648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u11648 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u11649 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u11650 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u11651 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u11652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u11652 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u11653 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11654_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:117px;
  height:10px;
}
#u11654 {
  position:absolute;
  left:5px;
  top:164px;
  width:112px;
  height:5px;
}
#u11655 {
  position:absolute;
  left:2px;
  top:-6px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u11656 {
  position:absolute;
  left:9px;
  top:130px;
  width:108px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u11657 {
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u11658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1930px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11658 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:1930px;
}
#u11659 {
  position:absolute;
  left:2px;
  top:957px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:1353px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11660 {
  position:absolute;
  left:205px;
  top:197px;
  width:687px;
  height:1353px;
}
#u11661 {
  position:absolute;
  left:2px;
  top:668px;
  width:683px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11663 {
  position:absolute;
  left:401px;
  top:1px;
  width:197px;
  height:89px;
}
#u11663_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11663.mouseOver {
}
#u11664 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11665 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u11666 {
  position:absolute;
  left:306px;
  top:1051px;
  width:469px;
  height:139px;
  font-size:36px;
  color:#AEAEAE;
}
#u11667 {
  position:absolute;
  left:2px;
  top:48px;
  width:465px;
  word-wrap:break-word;
}
#u11668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u11668 {
  position:absolute;
  left:306px;
  top:1209px;
  width:469px;
  height:139px;
  font-size:36px;
  color:#AEAEAE;
}
#u11669 {
  position:absolute;
  left:2px;
  top:48px;
  width:465px;
  word-wrap:break-word;
}
#u11670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
}
#u11670 {
  position:absolute;
  left:306px;
  top:386px;
  width:469px;
  height:139px;
}
#u11671 {
  position:absolute;
  left:2px;
  top:62px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u11672 {
  position:absolute;
  left:306px;
  top:725px;
  width:469px;
  height:139px;
  font-size:36px;
  color:#AEAEAE;
}
#u11673 {
  position:absolute;
  left:2px;
  top:48px;
  width:465px;
  word-wrap:break-word;
}
#u11674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u11674 {
  position:absolute;
  left:306px;
  top:886px;
  width:469px;
  height:139px;
  font-size:36px;
  color:#AEAEAE;
}
#u11675 {
  position:absolute;
  left:2px;
  top:48px;
  width:465px;
  word-wrap:break-word;
}
#u11676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u11676 {
  position:absolute;
  left:306px;
  top:552px;
  width:469px;
  height:139px;
  font-size:36px;
  color:#AEAEAE;
}
#u11677 {
  position:absolute;
  left:2px;
  top:48px;
  width:465px;
  word-wrap:break-word;
}
#u11678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
}
#u11678 {
  position:absolute;
  left:306px;
  top:552px;
  width:469px;
  height:139px;
}
#u11679 {
  position:absolute;
  left:2px;
  top:62px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:139px;
}
#u11680 {
  position:absolute;
  left:303px;
  top:725px;
  width:472px;
  height:139px;
}
#u11681 {
  position:absolute;
  left:2px;
  top:62px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
}
#u11682 {
  position:absolute;
  left:306px;
  top:886px;
  width:469px;
  height:139px;
}
#u11683 {
  position:absolute;
  left:2px;
  top:62px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
