body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1436px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1454px;
  height:1232px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29948 {
  position:absolute;
  left:-9px;
  top:177px;
  width:1454px;
  height:1232px;
}
#u29949 {
  position:absolute;
  left:2px;
  top:608px;
  width:1450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1394px;
  height:1208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29950 {
  position:absolute;
  left:28px;
  top:189px;
  width:1394px;
  height:1208px;
}
#u29951 {
  position:absolute;
  left:2px;
  top:596px;
  width:1390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29954 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u29955 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u29957 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u29958 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u29959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u29959 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u29960 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u29962 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u29963 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29964_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u29964 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u29965 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u29969 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u29970 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u29971 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u29972 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u29973 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u29974 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u29975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u29975 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u29976 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u29977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u29977 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u29978 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u29979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u29979 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u29980 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u29981 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u29982 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u29983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u29983 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u29984 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29985_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:103px;
  height:10px;
}
#u29985 {
  position:absolute;
  left:5px;
  top:164px;
  width:98px;
  height:5px;
}
#u29986 {
  position:absolute;
  left:2px;
  top:-6px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u29987 {
  position:absolute;
  left:9px;
  top:130px;
  width:105px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u29988 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u29990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29990 {
  position:absolute;
  left:401px;
  top:12px;
  width:197px;
  height:89px;
}
#u29990_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29990.mouseOver {
}
#u29991 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:83px;
}
#u29992 {
  position:absolute;
  left:92px;
  top:349px;
  width:1200px;
  height:83px;
}
#u29993 {
  position:absolute;
  left:2px;
  top:34px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:92px;
}
#u29995 {
  position:absolute;
  left:92px;
  top:247px;
  width:831px;
  height:92px;
}
#u29996 {
  position:absolute;
  left:2px;
  top:38px;
  width:827px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:92px;
}
#u29997 {
  position:absolute;
  left:847px;
  top:247px;
  width:436px;
  height:92px;
}
#u29998 {
  position:absolute;
  left:2px;
  top:38px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
