body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19751 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19752 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u19753 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19754 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u19755 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u19756 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u19757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u19757 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u19758 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19759 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u19760 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u19761 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19762_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u19762 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u19763 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19765 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19766 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19767 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u19768 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u19769 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u19770 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u19771 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u19772 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u19773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u19773 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u19774 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u19775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u19775 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u19776 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u19777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u19777 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u19778 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u19779 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u19780 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u19781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u19781 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u19782 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19783_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:10px;
}
#u19783 {
  position:absolute;
  left:93px;
  top:165px;
  width:59px;
  height:5px;
}
#u19784 {
  position:absolute;
  left:2px;
  top:-6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:862px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19785 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:862px;
}
#u19786 {
  position:absolute;
  left:2px;
  top:423px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:702px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19787 {
  position:absolute;
  left:52px;
  top:297px;
  width:1320px;
  height:702px;
}
#u19788 {
  position:absolute;
  left:2px;
  top:343px;
  width:1316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19789 {
  position:absolute;
  left:647px;
  top:913px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u19790 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u19792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19792 {
  position:absolute;
  left:401px;
  top:2px;
  width:197px;
  height:89px;
}
#u19792_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19792.mouseOver {
}
#u19793 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u19795 {
  position:absolute;
  left:5px;
  top:146px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u19796 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u19797 {
  position:absolute;
  left:92px;
  top:146px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u19798 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
}
#u19799 {
  position:absolute;
  left:172px;
  top:146px;
  width:69px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u19800 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u19801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u19801 {
  position:absolute;
  left:262px;
  top:146px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u19802 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19803 {
  position:absolute;
  left:5px;
  top:135px;
  width:65px;
  height:41px;
}
#u19803_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19803.mouseOver {
}
#u19804 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19805 {
  position:absolute;
  left:92px;
  top:135px;
  width:65px;
  height:41px;
}
#u19805_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19805.mouseOver {
}
#u19806 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19807 {
  position:absolute;
  left:172px;
  top:135px;
  width:65px;
  height:41px;
}
#u19807_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19807.mouseOver {
}
#u19808 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19809 {
  position:absolute;
  left:262px;
  top:135px;
  width:65px;
  height:41px;
}
#u19809_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19809.mouseOver {
}
#u19810 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u19811 {
  position:absolute;
  left:74px;
  top:135px;
  width:98px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u19812 {
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u19813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:93px;
}
#u19813 {
  position:absolute;
  left:107px;
  top:297px;
  width:533px;
  height:93px;
}
#u19814 {
  position:absolute;
  left:2px;
  top:38px;
  width:529px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:35px;
}
#u19815 {
  position:absolute;
  left:173px;
  top:203px;
  width:869px;
  height:35px;
}
#u19816 {
  position:absolute;
  left:2px;
  top:10px;
  width:865px;
  word-wrap:break-word;
}
#u19817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1118px;
  height:471px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19817 {
  position:absolute;
  left:125px;
  top:409px;
  width:1118px;
  height:471px;
}
#u19818 {
  position:absolute;
  left:2px;
  top:228px;
  width:1114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u19820 {
  position:absolute;
  left:80px;
  top:270px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u19821 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u19822 {
  position:absolute;
  left:138px;
  top:270px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u19823 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u19824 {
  position:absolute;
  left:74px;
  top:265px;
  width:50px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u19825 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
