body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1314px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14301 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14302 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u14303 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14304 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u14305 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u14306 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u14307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u14307 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u14308 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14309 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u14310 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u14311 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14312_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u14312 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u14313 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14316 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14317 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u14318 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u14319 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u14320 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u14321 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u14322 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u14323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u14323 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u14324 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u14325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u14325 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u14326 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u14327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u14327 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u14328 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u14329 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u14330 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u14331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u14331 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u14332 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14333_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:10px;
}
#u14333 {
  position:absolute;
  left:5px;
  top:164px;
  width:59px;
  height:5px;
}
#u14334 {
  position:absolute;
  left:2px;
  top:-6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u14335 {
  position:absolute;
  left:9px;
  top:130px;
  width:50px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u14336 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u14337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1067px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14337 {
  position:absolute;
  left:-128px;
  top:167px;
  width:1437px;
  height:1067px;
}
#u14338 {
  position:absolute;
  left:2px;
  top:526px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:636px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14339 {
  position:absolute;
  left:283px;
  top:260px;
  width:648px;
  height:636px;
}
#u14340 {
  position:absolute;
  left:2px;
  top:310px;
  width:644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u14341 {
  position:absolute;
  left:523px;
  top:829px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u14342 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u14344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14344 {
  position:absolute;
  left:401px;
  top:1px;
  width:197px;
  height:89px;
}
#u14344_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14344.mouseOver {
}
#u14345 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:68px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14346 {
  position:absolute;
  left:467px;
  top:809px;
  width:281px;
  height:68px;
}
#u14346_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:68px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14346.mouseOver {
}
#u14347 {
  position:absolute;
  left:2px;
  top:26px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14348 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14349 {
  position:absolute;
  left:424px;
  top:332px;
  width:333px;
  height:36px;
}
#u14350 {
  position:absolute;
  left:2px;
  top:10px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14351 {
  position:absolute;
  left:343px;
  top:342px;
  width:57px;
  height:16px;
}
#u14352 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14353 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14354 {
  position:absolute;
  left:424px;
  top:391px;
  width:333px;
  height:38px;
}
#u14355 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14356 {
  position:absolute;
  left:343px;
  top:401px;
  width:57px;
  height:16px;
}
#u14357 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14358 {
  position:absolute;
  left:283px;
  top:224px;
  width:100px;
  height:36px;
}
#u14359 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u14360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14360 {
  position:absolute;
  left:383px;
  top:224px;
  width:100px;
  height:36px;
}
#u14361 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
