body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2109px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11159 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11160 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u11161 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11162 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u11163 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u11164 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u11165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u11165 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u11166 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11167 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u11168 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u11169 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11170_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u11170 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u11171 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11173 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u11175 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u11176 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u11177 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u11178 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u11179 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u11180 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u11181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u11181 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u11182 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u11183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u11183 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u11184 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u11185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u11185 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u11186 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u11187 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u11188 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u11189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u11189 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u11190 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11191_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:117px;
  height:10px;
}
#u11191 {
  position:absolute;
  left:5px;
  top:164px;
  width:112px;
  height:5px;
}
#u11192 {
  position:absolute;
  left:2px;
  top:-6px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u11193 {
  position:absolute;
  left:9px;
  top:130px;
  width:108px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u11194 {
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u11195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1135px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11195 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:1135px;
}
#u11196 {
  position:absolute;
  left:2px;
  top:560px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1119px;
  height:802px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11197 {
  position:absolute;
  left:277px;
  top:197px;
  width:1119px;
  height:802px;
}
#u11198 {
  position:absolute;
  left:2px;
  top:393px;
  width:1115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11200 {
  position:absolute;
  left:401px;
  top:1px;
  width:197px;
  height:89px;
}
#u11200_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11200.mouseOver {
}
#u11201 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11202 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11203 {
  position:absolute;
  left:576px;
  top:917px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u11204 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u11205 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11206 {
  position:absolute;
  left:429px;
  top:348px;
  width:346px;
  height:37px;
}
#u11207 {
  position:absolute;
  left:2px;
  top:10px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11209 {
  position:absolute;
  left:429px;
  top:275px;
  width:103px;
  height:22px;
}
#u11209_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11209_input:disabled {
  color:grayText;
}
#u11210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u11210 {
  position:absolute;
  left:362px;
  top:278px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
}
#u11211 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u11212 {
  position:absolute;
  left:362px;
  top:358px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
}
#u11213 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11214 {
  position:absolute;
  left:633px;
  top:278px;
  width:103px;
  height:22px;
}
#u11214_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11214_input:disabled {
  color:grayText;
}
#u11215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u11215 {
  position:absolute;
  left:566px;
  top:281px;
  width:71px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
}
#u11216 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11217 {
  position:absolute;
  left:428px;
  top:421px;
  width:346px;
  height:37px;
}
#u11218 {
  position:absolute;
  left:2px;
  top:10px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u11220 {
  position:absolute;
  left:361px;
  top:431px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
}
#u11221 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u11222 {
  position:absolute;
  left:543px;
  top:490px;
  width:55px;
  height:55px;
  font-size:48px;
}
#u11223 {
  position:absolute;
  left:2px;
  top:-1px;
  width:51px;
  word-wrap:break-word;
}
#u11224 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11225 {
  position:absolute;
  left:780px;
  top:917px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u11226 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u11227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.737254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11227 {
  position:absolute;
  left:525px;
  top:898px;
  width:490px;
  height:78px;
}
#u11228 {
  position:absolute;
  left:2px;
  top:31px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:92px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11229 {
  position:absolute;
  left:804px;
  top:394px;
  width:121px;
  height:92px;
}
#u11230 {
  position:absolute;
  left:2px;
  top:38px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11231 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11232 {
  position:absolute;
  left:71px;
  top:266px;
  width:159px;
  height:199px;
}
#u11233 {
  position:absolute;
  left:2px;
  top:34px;
  width:155px;
  word-wrap:break-word;
}
#u11234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:114px;
}
#u11234 {
  position:absolute;
  left:121px;
  top:300px;
  width:59px;
  height:114px;
  font-size:99px;
  color:#008000;
  text-align:center;
}
#u11235 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u11236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:1000px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.556862745098039);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11236 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1442px;
  height:1000px;
}
#u11237 {
  position:absolute;
  left:2px;
  top:492px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:442px;
}
#u11238 {
  position:absolute;
  left:419px;
  top:146px;
  width:642px;
  height:442px;
}
#u11239 {
  position:absolute;
  left:2px;
  top:213px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11240 {
  position:absolute;
  left:624px;
  top:529px;
  width:234px;
  height:73px;
}
#u11240_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11240.mouseOver {
}
#u11241 {
  position:absolute;
  left:2px;
  top:28px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11242 {
  position:absolute;
  left:817px;
  top:154px;
  width:234px;
  height:73px;
}
#u11242_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11242.mouseOver {
}
#u11243 {
  position:absolute;
  left:2px;
  top:28px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u11244 {
  position:absolute;
  left:1543px;
  top:227px;
  width:300px;
  height:16px;
}
#u11245 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u11246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11246 {
  position:absolute;
  left:1498px;
  top:217px;
  width:30px;
  height:30px;
  font-size:18px;
  color:#FFFFFF;
}
#u11247 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u11248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u11248 {
  position:absolute;
  left:1498px;
  top:159px;
  width:169px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u11249 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u11250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11250 {
  position:absolute;
  left:1499px;
  top:295px;
  width:30px;
  height:30px;
  font-size:18px;
  color:#FFFFFF;
}
#u11251 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u11252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u11252 {
  position:absolute;
  left:1543px;
  top:299px;
  width:300px;
  height:32px;
}
#u11253 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u11254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u11254 {
  position:absolute;
  left:1893px;
  top:159px;
  width:169px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u11255 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u11256 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u11257 {
  position:absolute;
  left:1912px;
  top:216px;
  width:38px;
  height:38px;
  font-size:18px;
  color:#FFFFFF;
}
#u11258 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  word-wrap:break-word;
}
#u11259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:91px;
}
#u11259 {
  position:absolute;
  left:1970px;
  top:225px;
  width:139px;
  height:91px;
}
#u11260 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u11261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u11261 {
  position:absolute;
  left:696px;
  top:537px;
  width:38px;
  height:38px;
  font-size:18px;
  color:#FFFFFF;
}
#u11262 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  word-wrap:break-word;
}
#u11263 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11264 {
  position:absolute;
  left:1498px;
  top:18px;
  width:538px;
  height:125px;
}
#u11265 {
  position:absolute;
  left:2px;
  top:54px;
  width:534px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:114px;
}
#u11266 {
  position:absolute;
  left:1517px;
  top:29px;
  width:508px;
  height:114px;
}
#u11267 {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  word-wrap:break-word;
}
