body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21639 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21640 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u21641 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21642 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u21643 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u21644 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u21645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u21645 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u21646 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21647 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u21648 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u21649 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21650_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u21650 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u21651 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21653 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21654 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21655 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u21656 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u21657 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u21658 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u21659 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u21660 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u21661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u21661 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u21662 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u21663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u21663 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u21664 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u21665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u21665 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u21666 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u21667 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u21668 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u21669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u21669 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u21670 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21671_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:10px;
}
#u21671 {
  position:absolute;
  left:346px;
  top:167px;
  width:59px;
  height:5px;
}
#u21672 {
  position:absolute;
  left:2px;
  top:-6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:862px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21673 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:862px;
}
#u21674 {
  position:absolute;
  left:2px;
  top:423px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:838px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21675 {
  position:absolute;
  left:240px;
  top:250px;
  width:838px;
  height:756px;
}
#u21676 {
  position:absolute;
  left:2px;
  top:370px;
  width:834px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u21677 {
  position:absolute;
  left:507px;
  top:923px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u21678 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u21680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21680 {
  position:absolute;
  left:401px;
  top:2px;
  width:197px;
  height:89px;
}
#u21680_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21680.mouseOver {
}
#u21681 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u21683 {
  position:absolute;
  left:5px;
  top:137px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u21684 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u21685 {
  position:absolute;
  left:92px;
  top:137px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u21686 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u21687 {
  position:absolute;
  left:174px;
  top:137px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u21688 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u21689 {
  position:absolute;
  left:262px;
  top:137px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u21690 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21691 {
  position:absolute;
  left:5px;
  top:126px;
  width:65px;
  height:41px;
}
#u21691_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21691.mouseOver {
}
#u21692 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21693 {
  position:absolute;
  left:92px;
  top:126px;
  width:65px;
  height:41px;
}
#u21693_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21693.mouseOver {
}
#u21694 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21695 {
  position:absolute;
  left:174px;
  top:126px;
  width:65px;
  height:41px;
}
#u21695_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21695.mouseOver {
}
#u21696 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21697 {
  position:absolute;
  left:262px;
  top:126px;
  width:65px;
  height:41px;
}
#u21697_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21697.mouseOver {
}
#u21698 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u21699 {
  position:absolute;
  left:352px;
  top:137px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u21700 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u21701 {
  position:absolute;
  left:450px;
  top:137px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u21702 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u21703 {
  position:absolute;
  left:338px;
  top:135px;
  width:98px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u21704 {
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u21706 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21707 {
  position:absolute;
  left:354px;
  top:272px;
  width:180px;
  height:26px;
}
#u21707_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21707_input:disabled {
  color:grayText;
}
#u21708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u21708 {
  position:absolute;
  left:266px;
  top:269px;
  width:78px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u21709 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
