body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24977 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u24978 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u24980 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u24981 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u24982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u24982 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u24983 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u24985 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u24986 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24987_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u24987 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u24988 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u24992 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u24993 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u24994 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u24995 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u24996 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u24997 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u24998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u24998 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u24999 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u25000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u25000 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u25001 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u25002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u25002 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u25003 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u25004 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u25005 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u25006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u25006 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u25007 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25008_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:10px;
}
#u25008 {
  position:absolute;
  left:176px;
  top:165px;
  width:59px;
  height:5px;
}
#u25009 {
  position:absolute;
  left:2px;
  top:-6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:862px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25010 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:862px;
}
#u25011 {
  position:absolute;
  left:2px;
  top:423px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:710px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25012 {
  position:absolute;
  left:52px;
  top:289px;
  width:1320px;
  height:710px;
}
#u25013 {
  position:absolute;
  left:2px;
  top:347px;
  width:1316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25015 {
  position:absolute;
  left:401px;
  top:2px;
  width:197px;
  height:89px;
}
#u25015_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25015.mouseOver {
}
#u25016 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u25018 {
  position:absolute;
  left:5px;
  top:146px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u25019 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u25020 {
  position:absolute;
  left:92px;
  top:146px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u25021 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u25022 {
  position:absolute;
  left:174px;
  top:146px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u25023 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u25024 {
  position:absolute;
  left:262px;
  top:146px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u25025 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25026 {
  position:absolute;
  left:5px;
  top:135px;
  width:65px;
  height:41px;
}
#u25026_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25026.mouseOver {
}
#u25027 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25028 {
  position:absolute;
  left:92px;
  top:135px;
  width:65px;
  height:41px;
}
#u25028_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25028.mouseOver {
}
#u25029 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25030 {
  position:absolute;
  left:174px;
  top:135px;
  width:65px;
  height:41px;
}
#u25030_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25030.mouseOver {
}
#u25031 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25032 {
  position:absolute;
  left:262px;
  top:135px;
  width:65px;
  height:41px;
}
#u25032_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25032.mouseOver {
}
#u25033 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u25034 {
  position:absolute;
  left:352px;
  top:146px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u25035 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u25036 {
  position:absolute;
  left:450px;
  top:146px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u25037 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u25038 {
  position:absolute;
  left:157px;
  top:134px;
  width:98px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u25039 {
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u25040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:35px;
}
#u25040 {
  position:absolute;
  left:173px;
  top:203px;
  width:869px;
  height:35px;
}
#u25041 {
  position:absolute;
  left:2px;
  top:10px;
  width:865px;
  word-wrap:break-word;
}
#u25042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1036px;
  height:471px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25042 {
  position:absolute;
  left:207px;
  top:409px;
  width:1036px;
  height:471px;
}
#u25043 {
  position:absolute;
  left:2px;
  top:228px;
  width:1032px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1416px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25046 {
  position:absolute;
  left:16px;
  top:918px;
  width:1416px;
  height:98px;
}
#u25047 {
  position:absolute;
  left:2px;
  top:41px;
  width:1412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u25049 {
  position:absolute;
  left:406px;
  top:947px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u25050 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u25051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u25051 {
  position:absolute;
  left:633px;
  top:947px;
  width:159px;
  height:40px;
  font-size:20px;
}
#u25052 {
  position:absolute;
  left:2px;
  top:8px;
  width:155px;
  word-wrap:break-word;
}
