body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1559px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14696 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14697 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u14698 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14699 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u14700 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u14701 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u14702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u14702 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u14703 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u14705 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u14706 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14707_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u14707 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u14708 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u14709 {
  position:absolute;
  left:41px;
  top:102px;
  width:150px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u14710 {
  position:absolute;
  left:0px;
  top:11px;
  width:150px;
  word-wrap:break-word;
}
#u14712 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:698px;
}
#u14713 {
  position:absolute;
  left:0px;
  top:88px;
  width:196px;
  height:698px;
}
#u14714 {
  position:absolute;
  left:2px;
  top:341px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14715 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:38px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u14716 {
  position:absolute;
  left:0px;
  top:111px;
  width:196px;
  height:38px;
  font-size:14px;
  color:#FFFFFF;
}
#u14717 {
  position:absolute;
  left:2px;
  top:11px;
  width:192px;
  word-wrap:break-word;
}
#u14719 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14721 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u14722 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u14723 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u14724 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u14725 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u14726 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u14727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u14727 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u14728 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u14729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u14729 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u14730 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u14731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u14731 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u14732 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u14734 {
  position:absolute;
  left:236px;
  top:132px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u14735 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1163px;
  height:2px;
}
#u14736 {
  position:absolute;
  left:236px;
  top:243px;
  width:1162px;
  height:1px;
}
#u14737 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14738_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:45px;
  height:10px;
}
#u14738 {
  position:absolute;
  left:239px;
  top:241px;
  width:40px;
  height:5px;
}
#u14739 {
  position:absolute;
  left:2px;
  top:-6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14740 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#363636;
}
#u14741 {
  position:absolute;
  left:264px;
  top:308px;
  width:132px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#363636;
}
#u14742 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u14743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u14743 {
  position:absolute;
  left:1218px;
  top:308px;
  width:140px;
  height:40px;
  font-size:20px;
}
#u14744 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u14745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u14745 {
  position:absolute;
  left:1078px;
  top:308px;
  width:109px;
  height:40px;
  font-size:20px;
}
#u14746 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u14747 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(125, 192, 11, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 190, 38, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u14748 {
  position:absolute;
  left:654px;
  top:936px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u14749 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u14750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u14750 {
  position:absolute;
  left:699px;
  top:936px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#797979;
}
#u14751 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u14752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u14752 {
  position:absolute;
  left:744px;
  top:936px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#797979;
}
#u14753 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u14754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u14754 {
  position:absolute;
  left:789px;
  top:936px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#797979;
}
#u14755 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u14756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u14756 {
  position:absolute;
  left:834px;
  top:936px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#797979;
}
#u14757 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u14758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u14758 {
  position:absolute;
  left:906px;
  top:936px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#797979;
}
#u14759 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u14760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#797979;
}
#u14760 {
  position:absolute;
  left:952px;
  top:936px;
  width:60px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#797979;
}
#u14761 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u14762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14762 {
  position:absolute;
  left:884px;
  top:945px;
  width:21px;
  height:22px;
  font-size:16px;
}
#u14763 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u14764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#868686;
}
#u14764 {
  position:absolute;
  left:1022px;
  top:945px;
  width:77px;
  height:22px;
  font-size:16px;
  color:#868686;
}
#u14765 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u14766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#868686;
}
#u14766 {
  position:absolute;
  left:1099px;
  top:945px;
  width:34px;
  height:22px;
  font-size:16px;
  color:#868686;
}
#u14767 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u14768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u14768 {
  position:absolute;
  left:1137px;
  top:936px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#797979;
}
#u14769 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u14770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u14770 {
  position:absolute;
  left:1185px;
  top:945px;
  width:34px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u14771 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u14772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#797979;
}
#u14772 {
  position:absolute;
  left:1206px;
  top:936px;
  width:47px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#797979;
}
#u14773 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u14774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u14774 {
  position:absolute;
  left:512px;
  top:936px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#797979;
}
#u14775 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u14776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#A1A1A1;
}
#u14776 {
  position:absolute;
  left:353px;
  top:945px;
  width:221px;
  height:19px;
  font-size:16px;
  color:#A1A1A1;
}
#u14777 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u14778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u14778 {
  position:absolute;
  left:1267px;
  top:527px;
  width:26px;
  height:23px;
}
#u14779 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u14780 {
  position:absolute;
  left:1267px;
  top:669px;
  width:26px;
  height:23px;
}
#u14781 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u14782 {
  position:absolute;
  left:1267px;
  top:807px;
  width:26px;
  height:23px;
}
#u14783 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u14784 {
  position:absolute;
  left:235px;
  top:209px;
  width:50px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u14785 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u14786 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14787 {
  position:absolute;
  left:240px;
  top:396px;
  width:1148px;
  height:54px;
}
#u14788 {
  position:absolute;
  left:2px;
  top:19px;
  width:1144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u14789 {
  position:absolute;
  left:336px;
  top:415px;
  width:61px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u14790 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u14791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u14791 {
  position:absolute;
  left:1015px;
  top:415px;
  width:61px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u14792 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u14793 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u14794 {
  position:absolute;
  left:670px;
  top:415px;
  width:102px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u14795 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u14796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u14796 {
  position:absolute;
  left:1312px;
  top:415px;
  width:61px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u14797 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u14798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14798 {
  position:absolute;
  left:257px;
  top:416px;
  width:16px;
  height:15px;
}
#u14799 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:59px;
}
#u14800 {
  position:absolute;
  left:317px;
  top:480px;
  width:164px;
  height:59px;
}
#u14801 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u14802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14802 {
  position:absolute;
  left:257px;
  top:480px;
  width:16px;
  height:15px;
}
#u14803 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14804 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u14805 {
  position:absolute;
  left:288px;
  top:480px;
  width:61px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u14806 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u14807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u14807 {
  position:absolute;
  left:283px;
  top:529px;
  width:61px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u14808 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u14809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:59px;
}
#u14809 {
  position:absolute;
  left:317px;
  top:529px;
  width:164px;
  height:59px;
}
#u14810 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u14811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14811 {
  position:absolute;
  left:257px;
  top:533px;
  width:16px;
  height:15px;
}
#u14812 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u14813 {
  position:absolute;
  left:664px;
  top:480px;
  width:85px;
  height:16px;
}
#u14814 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u14815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u14815 {
  position:absolute;
  left:664px;
  top:531px;
  width:85px;
  height:16px;
}
#u14816 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u14817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u14817 {
  position:absolute;
  left:986px;
  top:480px;
  width:119px;
  height:16px;
}
#u14818 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u14819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u14819 {
  position:absolute;
  left:986px;
  top:531px;
  width:119px;
  height:16px;
}
#u14820 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u14821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:59px;
}
#u14821 {
  position:absolute;
  left:1261px;
  top:480px;
  width:164px;
  height:59px;
  color:#0000CC;
}
#u14822 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u14823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:59px;
}
#u14823 {
  position:absolute;
  left:1261px;
  top:531px;
  width:164px;
  height:59px;
  color:#0000CC;
}
#u14824 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u14825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1454px;
  height:1073px;
  background:inherit;
  background-color:rgba(27, 27, 27, 0.47843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14825 {
  position:absolute;
  left:-6px;
  top:-12px;
  width:1454px;
  height:1073px;
}
#u14826 {
  position:absolute;
  left:2px;
  top:528px;
  width:1450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14828 {
  position:absolute;
  left:365px;
  top:15px;
  width:593px;
  height:62px;
}
#u14829 {
  position:absolute;
  left:2px;
  top:23px;
  width:589px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#363636;
}
#u14830 {
  position:absolute;
  left:390px;
  top:37px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#363636;
}
#u14831 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u14832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AEAEAE;
}
#u14832 {
  position:absolute;
  left:925px;
  top:34px;
  width:27px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AEAEAE;
}
#u14833 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u14834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14834 {
  position:absolute;
  left:365px;
  top:77px;
  width:593px;
  height:544px;
}
#u14835 {
  position:absolute;
  left:2px;
  top:264px;
  width:589px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14836 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:56px;
}
#u14837 {
  position:absolute;
  left:378px;
  top:148px;
  width:545px;
  height:56px;
}
#u14838 {
  position:absolute;
  left:2px;
  top:20px;
  width:541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:55px;
}
#u14840 {
  position:absolute;
  left:604px;
  top:159px;
  width:308px;
  height:55px;
  color:#AEAEAE;
  text-align:left;
}
#u14841 {
  position:absolute;
  left:2px;
  top:20px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14842 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#797979;
}
#u14843 {
  position:absolute;
  left:407px;
  top:85px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#797979;
}
#u14844 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u14845 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14846 {
  position:absolute;
  left:488px;
  top:124px;
  width:100px;
  height:16px;
}
#u14847 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14846_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14848 {
  position:absolute;
  left:563px;
  top:124px;
  width:100px;
  height:16px;
}
#u14849 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14848_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14850 {
  position:absolute;
  left:641px;
  top:124px;
  width:100px;
  height:16px;
}
#u14851 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14850_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14852 {
  position:absolute;
  left:716px;
  top:124px;
  width:100px;
  height:16px;
}
#u14853 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14852_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u14854 {
  position:absolute;
  left:583px;
  top:531px;
  width:111px;
  height:40px;
  font-size:18px;
}
#u14855 {
  position:absolute;
  left:2px;
  top:9px;
  width:107px;
  word-wrap:break-word;
}
#u14856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u14856 {
  position:absolute;
  left:410px;
  top:124px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u14857 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:216px;
}
#u14858 {
  position:absolute;
  left:365px;
  top:264px;
  width:459px;
  height:216px;
}
#u14859 {
  position:absolute;
  left:2px;
  top:100px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14860 {
  position:absolute;
  left:860px;
  top:9px;
  width:98px;
  height:62px;
}
#u14860_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14860.mouseOver {
}
#u14861 {
  position:absolute;
  left:2px;
  top:23px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14862 {
  position:absolute;
  left:545px;
  top:520px;
  width:187px;
  height:62px;
}
#u14862_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14862.mouseOver {
}
#u14863 {
  position:absolute;
  left:2px;
  top:23px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:56px;
}
#u14866 {
  position:absolute;
  left:488px;
  top:146px;
  width:418px;
  height:56px;
  color:#AEAEAE;
  text-align:left;
}
#u14867 {
  position:absolute;
  left:2px;
  top:20px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14868 {
  position:absolute;
  left:497px;
  top:166px;
  width:100px;
  height:16px;
}
#u14869 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14868_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14870 {
  position:absolute;
  left:569px;
  top:166px;
  width:100px;
  height:16px;
}
#u14871 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14870_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:259px;
}
#u14872 {
  position:absolute;
  left:978px;
  top:268px;
  width:587px;
  height:259px;
}
#u14873 {
  position:absolute;
  left:2px;
  top:122px;
  width:583px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:56px;
}
#u14874 {
  position:absolute;
  left:366px;
  top:198px;
  width:270px;
  height:56px;
}
#u14875 {
  position:absolute;
  left:2px;
  top:20px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14877 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:56px;
}
#u14878 {
  position:absolute;
  left:473px;
  top:194px;
  width:418px;
  height:56px;
  color:#AEAEAE;
  text-align:left;
}
#u14879 {
  position:absolute;
  left:2px;
  top:20px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14880 {
  position:absolute;
  left:482px;
  top:214px;
  width:100px;
  height:16px;
}
#u14881 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14880_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14882 {
  position:absolute;
  left:554px;
  top:214px;
  width:100px;
  height:16px;
}
#u14883 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14882_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14885 {
  position:absolute;
  left:475px;
  top:203px;
  width:82px;
  height:46px;
}
#u14885_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14885.mouseOver {
}
#u14886 {
  position:absolute;
  left:2px;
  top:15px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14887 {
  position:absolute;
  left:557px;
  top:204px;
  width:92px;
  height:46px;
}
#u14887_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14887.mouseOver {
}
#u14888 {
  position:absolute;
  left:2px;
  top:15px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14889 {
  position:absolute;
  left:627px;
  top:353px;
  width:171px;
  height:29px;
}
#u14890 {
  position:absolute;
  left:2px;
  top:6px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
