body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27840 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27841 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u27842 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27843 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u27844 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u27845 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u27846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u27846 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u27847 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27848 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u27849 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u27850 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27851_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u27851 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u27852 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u27856 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u27857 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u27858 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u27859 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u27860 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u27861 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u27862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u27862 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u27863 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u27864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u27864 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u27865 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u27866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u27866 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u27867 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u27868 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u27869 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u27870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u27870 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u27871 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27872_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:10px;
}
#u27872 {
  position:absolute;
  left:5px;
  top:164px;
  width:59px;
  height:5px;
}
#u27873 {
  position:absolute;
  left:2px;
  top:-6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1135px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27874 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:1135px;
}
#u27875 {
  position:absolute;
  left:2px;
  top:560px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:1029px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27876 {
  position:absolute;
  left:66px;
  top:260px;
  width:708px;
  height:1029px;
}
#u27877 {
  position:absolute;
  left:2px;
  top:506px;
  width:704px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27879 {
  position:absolute;
  left:401px;
  top:2px;
  width:197px;
  height:89px;
}
#u27879_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27879.mouseOver {
}
#u27880 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u27884 {
  position:absolute;
  left:162px;
  top:286px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u27885 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u27886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u27886 {
  position:absolute;
  left:108px;
  top:278px;
  width:44px;
  height:44px;
  font-size:18px;
  color:#797979;
}
#u27887 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u27888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:32px;
}
#u27889 {
  position:absolute;
  left:267px;
  top:283px;
  width:19px;
  height:32px;
}
#u27890 {
  position:absolute;
  left:2px;
  top:8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u27892 {
  position:absolute;
  left:351px;
  top:286px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u27893 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u27894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u27895 {
  position:absolute;
  left:297px;
  top:278px;
  width:44px;
  height:44px;
  font-size:18px;
  color:#797979;
}
#u27896 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u27897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u27898 {
  position:absolute;
  left:351px;
  top:286px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u27899 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u27900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u27900 {
  position:absolute;
  left:297px;
  top:278px;
  width:44px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u27901 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u27902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:813px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27903 {
  position:absolute;
  left:140px;
  top:345px;
  width:484px;
  height:813px;
}
#u27904 {
  position:absolute;
  left:2px;
  top:398px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u27907 {
  position:absolute;
  left:187px;
  top:1075px;
  width:56px;
  height:44px;
}
#u27908 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u27909 {
  position:absolute;
  left:184px;
  top:1129px;
  width:58px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
  text-align:center;
}
#u27910 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u27911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u27912 {
  position:absolute;
  left:265px;
  top:1076px;
  width:56px;
  height:44px;
}
#u27913 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u27914 {
  position:absolute;
  left:242px;
  top:1130px;
  width:99px;
  height:19px;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u27915 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u27916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u27917 {
  position:absolute;
  left:344px;
  top:1076px;
  width:56px;
  height:44px;
}
#u27918 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
}
#u27919 {
  position:absolute;
  left:341px;
  top:1130px;
  width:79px;
  height:19px;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u27920 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u27921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u27922 {
  position:absolute;
  left:423px;
  top:1076px;
  width:56px;
  height:44px;
}
#u27923 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u27924 {
  position:absolute;
  left:420px;
  top:1130px;
  width:58px;
  height:19px;
  font-size:16px;
  color:#008000;
  text-align:center;
}
#u27925 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u27926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u27927 {
  position:absolute;
  left:512px;
  top:1076px;
  width:56px;
  height:44px;
}
#u27928 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u27929 {
  position:absolute;
  left:509px;
  top:1130px;
  width:58px;
  height:19px;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u27930 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u27931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27932 {
  position:absolute;
  left:142px;
  top:450px;
  width:169px;
  height:216px;
}
#u27933 {
  position:absolute;
  left:2px;
  top:100px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u27935 {
  position:absolute;
  left:160px;
  top:488px;
  width:111px;
  height:111px;
}
#u27936 {
  position:absolute;
  left:2px;
  top:48px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u27937 {
  position:absolute;
  left:199px;
  top:609px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u27938 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u27940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u27940 {
  position:absolute;
  left:9px;
  top:130px;
  width:50px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u27941 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u27943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27944 {
  position:absolute;
  left:179px;
  top:1066px;
  width:69px;
  height:63px;
}
#u27944_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27944.mouseOver {
}
#u27945 {
  position:absolute;
  left:2px;
  top:24px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27946 {
  position:absolute;
  left:341px;
  top:1068px;
  width:69px;
  height:63px;
}
#u27946_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27946.mouseOver {
}
#u27947 {
  position:absolute;
  left:2px;
  top:24px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27948 {
  position:absolute;
  left:268px;
  top:1078px;
  width:69px;
  height:63px;
}
#u27948_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27948.mouseOver {
}
#u27949 {
  position:absolute;
  left:2px;
  top:24px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27950 {
  position:absolute;
  left:415px;
  top:1068px;
  width:69px;
  height:63px;
}
#u27950_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27950.mouseOver {
}
#u27951 {
  position:absolute;
  left:2px;
  top:24px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27952 {
  position:absolute;
  left:506px;
  top:1068px;
  width:69px;
  height:63px;
}
#u27952_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27952.mouseOver {
}
#u27953 {
  position:absolute;
  left:2px;
  top:24px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u27955 {
  position:absolute;
  left:253px;
  top:1232px;
  width:101px;
  height:40px;
  font-size:18px;
}
#u27956 {
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u27957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u27957 {
  position:absolute;
  left:479px;
  top:1232px;
  width:107px;
  height:40px;
  font-size:18px;
}
#u27958 {
  position:absolute;
  left:2px;
  top:9px;
  width:103px;
  word-wrap:break-word;
}
#u27959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u27959 {
  position:absolute;
  left:135px;
  top:1232px;
  width:101px;
  height:40px;
  font-size:18px;
}
#u27960 {
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u27961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u27961 {
  position:absolute;
  left:368px;
  top:1232px;
  width:101px;
  height:40px;
  font-size:18px;
}
#u27962 {
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u27963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27963 {
  position:absolute;
  left:135px;
  top:1209px;
  width:101px;
  height:63px;
}
#u27963_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27963.mouseOver {
}
#u27964 {
  position:absolute;
  left:2px;
  top:24px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27965 {
  position:absolute;
  left:368px;
  top:1215px;
  width:101px;
  height:63px;
}
#u27965_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27965.mouseOver {
}
#u27966 {
  position:absolute;
  left:2px;
  top:24px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:2px;
}
#u27968 {
  position:absolute;
  left:147px;
  top:356px;
  width:475px;
  height:1px;
}
#u27969 {
  position:absolute;
  left:2px;
  top:-8px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:2px;
}
#u27970 {
  position:absolute;
  left:145px;
  top:411px;
  width:475px;
  height:1px;
}
#u27971 {
  position:absolute;
  left:2px;
  top:-8px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27974 {
  position:absolute;
  left:458px;
  top:361px;
  width:165px;
  height:55px;
}
#u27975 {
  position:absolute;
  left:2px;
  top:11px;
  width:161px;
  word-wrap:break-word;
}
#u27976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27976 {
  position:absolute;
  left:458px;
  top:416px;
  width:165px;
  height:212px;
}
#u27977 {
  position:absolute;
  left:2px;
  top:98px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27978 {
  position:absolute;
  left:464px;
  top:426px;
  width:153px;
  height:37px;
}
#u27979 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u27980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27980 {
  position:absolute;
  left:464px;
  top:463px;
  width:153px;
  height:37px;
}
#u27981 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u27982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27982 {
  position:absolute;
  left:461px;
  top:502px;
  width:159px;
  height:37px;
}
#u27983 {
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u27984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27984 {
  position:absolute;
  left:460px;
  top:540px;
  width:159px;
  height:37px;
}
#u27985 {
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u27986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27986 {
  position:absolute;
  left:460px;
  top:583px;
  width:159px;
  height:37px;
}
#u27987 {
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u27988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27988 {
  position:absolute;
  left:458px;
  top:416px;
  width:165px;
  height:45px;
}
#u27988_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27988.mouseOver {
}
#u27989 {
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27990 {
  position:absolute;
  left:457px;
  top:581px;
  width:165px;
  height:47px;
}
#u27990_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27990.mouseOver {
}
#u27991 {
  position:absolute;
  left:2px;
  top:16px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27992 {
  position:absolute;
  left:464px;
  top:463px;
  width:165px;
  height:39px;
}
#u27992_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27992.mouseOver {
}
#u27993 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27994 {
  position:absolute;
  left:461px;
  top:502px;
  width:165px;
  height:37px;
}
#u27994_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27994.mouseOver {
}
#u27995 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27996 {
  position:absolute;
  left:457px;
  top:544px;
  width:165px;
  height:37px;
}
#u27996_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27996.mouseOver {
}
#u27997 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
