body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1909px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23172 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23173 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u23174 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23175 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u23176 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u23177 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u23178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u23178 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u23179 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23180 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u23181 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u23182 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23183_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u23183 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u23184 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23186 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23187 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23188 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u23189 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u23190 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u23191 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u23192 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u23193 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u23194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u23194 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u23195 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u23196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u23196 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u23197 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u23198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u23198 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u23199 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u23200 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u23201 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u23202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u23202 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u23203 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23204_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:107px;
  height:10px;
}
#u23204 {
  position:absolute;
  left:5px;
  top:164px;
  width:102px;
  height:5px;
}
#u23205 {
  position:absolute;
  left:2px;
  top:-6px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u23206 {
  position:absolute;
  left:9px;
  top:130px;
  width:91px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u23207 {
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u23208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1263px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23208 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:1263px;
}
#u23209 {
  position:absolute;
  left:2px;
  top:624px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23211 {
  position:absolute;
  left:401px;
  top:2px;
  width:197px;
  height:89px;
}
#u23211_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23211.mouseOver {
}
#u23212 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:1198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23213 {
  position:absolute;
  left:80px;
  top:218px;
  width:635px;
  height:1198px;
}
#u23214 {
  position:absolute;
  left:2px;
  top:591px;
  width:631px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23215 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23216 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u23217 {
  position:absolute;
  left:353px;
  top:1280px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u23218 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u23219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u23220 {
  position:absolute;
  left:356px;
  top:771px;
  width:57px;
  height:48px;
  font-size:28px;
}
#u23221 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  word-wrap:break-word;
}
#u23222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:48px;
}
#u23222 {
  position:absolute;
  left:146px;
  top:771px;
  width:60px;
  height:48px;
}
#u23223 {
  position:absolute;
  left:2px;
  top:16px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u23224 {
  position:absolute;
  left:216px;
  top:771px;
  width:59px;
  height:48px;
}
#u23225 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:48px;
}
#u23226 {
  position:absolute;
  left:285px;
  top:771px;
  width:61px;
  height:48px;
}
#u23227 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23229 {
  position:absolute;
  left:142px;
  top:669px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23230 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23231 {
  position:absolute;
  left:213px;
  top:712px;
  width:52px;
  height:41px;
}
#u23232 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23233 {
  position:absolute;
  left:285px;
  top:712px;
  width:52px;
  height:41px;
}
#u23234 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23235 {
  position:absolute;
  left:169px;
  top:753px;
  width:54px;
  height:16px;
  color:#FFFFFF;
}
#u23236 {
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u23235_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23237 {
  position:absolute;
  left:223px;
  top:753px;
  width:54px;
  height:16px;
  color:#FFFFFF;
}
#u23238 {
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23237_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23239 {
  position:absolute;
  left:301px;
  top:755px;
  width:54px;
  height:16px;
  color:#FFFFFF;
}
#u23240 {
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23239_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23241 {
  position:absolute;
  left:162px;
  top:823px;
  width:54px;
  height:16px;
  color:#FFFFFF;
}
#u23242 {
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23241_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23243 {
  position:absolute;
  left:301px;
  top:823px;
  width:54px;
  height:16px;
  color:#FFFFFF;
}
#u23244 {
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23243_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23245 {
  position:absolute;
  left:226px;
  top:825px;
  width:54px;
  height:16px;
  color:#FFFFFF;
}
#u23246 {
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23245_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23247 {
  position:absolute;
  left:149px;
  top:710px;
  width:54px;
  height:43px;
}
#u23248 {
  position:absolute;
  left:2px;
  top:14px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23249 {
  position:absolute;
  left:128px;
  top:880px;
  width:85px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23250 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u23251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23251 {
  position:absolute;
  left:128px;
  top:975px;
  width:85px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23252 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u23253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23253 {
  position:absolute;
  left:151px;
  top:713px;
  width:50px;
  height:38px;
}
#u23254 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23256 {
  position:absolute;
  left:230px;
  top:330px;
  width:81px;
  height:16px;
}
#u23257 {
  position:absolute;
  left:16px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u23256_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23258 {
  position:absolute;
  left:139px;
  top:330px;
  width:81px;
  height:16px;
}
#u23259 {
  position:absolute;
  left:16px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u23258_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u23260 {
  position:absolute;
  left:139px;
  top:276px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u23261 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23263 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u23264 {
  position:absolute;
  left:139px;
  top:413px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u23265 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23267 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:26px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23268 {
  position:absolute;
  left:142px;
  top:508px;
  width:96px;
  height:26px;
}
#u23269 {
  position:absolute;
  left:2px;
  top:5px;
  width:92px;
  word-wrap:break-word;
}
#u23270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:78px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23270 {
  position:absolute;
  left:142px;
  top:534px;
  width:96px;
  height:78px;
}
#u23271 {
  position:absolute;
  left:2px;
  top:31px;
  width:92px;
  word-wrap:break-word;
}
#u23272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23272 {
  position:absolute;
  left:142px;
  top:612px;
  width:96px;
  height:28px;
}
#u23273 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u23274 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:26px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23275 {
  position:absolute;
  left:266px;
  top:508px;
  width:96px;
  height:26px;
}
#u23276 {
  position:absolute;
  left:2px;
  top:5px;
  width:92px;
  word-wrap:break-word;
}
#u23277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:106px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23277 {
  position:absolute;
  left:266px;
  top:534px;
  width:96px;
  height:106px;
}
#u23278 {
  position:absolute;
  left:2px;
  top:45px;
  width:92px;
  word-wrap:break-word;
}
#u23279 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:104px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23280 {
  position:absolute;
  left:389px;
  top:508px;
  width:96px;
  height:104px;
}
#u23281 {
  position:absolute;
  left:2px;
  top:44px;
  width:92px;
  word-wrap:break-word;
}
#u23282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23282 {
  position:absolute;
  left:389px;
  top:612px;
  width:96px;
  height:28px;
}
#u23283 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u23284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u23284 {
  position:absolute;
  left:140px;
  top:477px;
  width:40px;
  height:16px;
  text-align:center;
}
#u23285 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23286 {
  position:absolute;
  left:183px;
  top:938px;
  width:100px;
  height:16px;
}
#u23287 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23286_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23288 {
  position:absolute;
  left:183px;
  top:1018px;
  width:100px;
  height:16px;
}
#u23289 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23288_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23290 {
  position:absolute;
  left:268px;
  top:1018px;
  width:100px;
  height:16px;
}
#u23291 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23290_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23292 {
  position:absolute;
  left:355px;
  top:1018px;
  width:100px;
  height:16px;
}
#u23293 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23292_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23294 {
  position:absolute;
  left:128px;
  top:1053px;
  width:135px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23295 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u23296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23296 {
  position:absolute;
  left:134px;
  top:1137px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23297 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23298 {
  position:absolute;
  left:180px;
  top:1096px;
  width:100px;
  height:16px;
}
#u23299 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23298_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23300 {
  position:absolute;
  left:183px;
  top:1180px;
  width:100px;
  height:16px;
}
#u23301 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23300_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:99px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23302 {
  position:absolute;
  left:327px;
  top:1242px;
  width:217px;
  height:99px;
}
#u23302_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:99px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23302.mouseOver {
}
#u23303 {
  position:absolute;
  left:2px;
  top:42px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23304 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u23305 {
  position:absolute;
  left:1467px;
  top:258px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u23306 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u23307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u23307 {
  position:absolute;
  left:1467px;
  top:208px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u23308 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u23309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
}
#u23309 {
  position:absolute;
  left:1510px;
  top:265px;
  width:239px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u23310 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u23311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u23311 {
  position:absolute;
  left:196px;
  top:285px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u23312 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u23313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u23313 {
  position:absolute;
  left:190px;
  top:465px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u23314 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u23315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u23315 {
  position:absolute;
  left:1467px;
  top:311px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u23316 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u23317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
}
#u23317 {
  position:absolute;
  left:1510px;
  top:318px;
  width:193px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u23318 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u23319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u23319 {
  position:absolute;
  left:439px;
  top:779px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u23320 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u23321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u23321 {
  position:absolute;
  left:1467px;
  top:354px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u23322 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u23323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:19px;
}
#u23323 {
  position:absolute;
  left:1510px;
  top:361px;
  width:399px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u23324 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  white-space:nowrap;
}
#u23325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u23325 {
  position:absolute;
  left:488px;
  top:1018px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u23326 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u23327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u23327 {
  position:absolute;
  left:1467px;
  top:412px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u23328 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u23329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:19px;
}
#u23329 {
  position:absolute;
  left:1510px;
  top:419px;
  width:354px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u23330 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  white-space:nowrap;
}
