body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1909px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23115 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23116 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u23117 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23118 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u23119 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u23120 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u23121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u23121 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u23122 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u23124 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u23125 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23126_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u23126 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u23127 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23131 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u23132 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u23133 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u23134 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u23135 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u23136 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u23137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u23137 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u23138 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u23139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u23139 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u23140 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u23141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u23141 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u23142 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u23143 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u23144 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u23145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u23145 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u23146 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23147_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:107px;
  height:10px;
}
#u23147 {
  position:absolute;
  left:5px;
  top:164px;
  width:102px;
  height:5px;
}
#u23148 {
  position:absolute;
  left:2px;
  top:-6px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u23149 {
  position:absolute;
  left:9px;
  top:130px;
  width:91px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u23150 {
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u23151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1263px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23151 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:1263px;
}
#u23152 {
  position:absolute;
  left:2px;
  top:624px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23154 {
  position:absolute;
  left:401px;
  top:2px;
  width:197px;
  height:89px;
}
#u23154_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23154.mouseOver {
}
#u23155 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:1198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23156 {
  position:absolute;
  left:80px;
  top:218px;
  width:635px;
  height:1198px;
}
#u23157 {
  position:absolute;
  left:2px;
  top:591px;
  width:631px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23159 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u23160 {
  position:absolute;
  left:353px;
  top:1280px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u23161 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u23162 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u23163 {
  position:absolute;
  left:356px;
  top:771px;
  width:57px;
  height:48px;
  font-size:28px;
}
#u23164 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  word-wrap:break-word;
}
#u23165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:48px;
}
#u23165 {
  position:absolute;
  left:146px;
  top:771px;
  width:60px;
  height:48px;
}
#u23166 {
  position:absolute;
  left:2px;
  top:16px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u23167 {
  position:absolute;
  left:216px;
  top:771px;
  width:59px;
  height:48px;
}
#u23168 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:48px;
}
#u23169 {
  position:absolute;
  left:285px;
  top:771px;
  width:61px;
  height:48px;
}
#u23170 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23172 {
  position:absolute;
  left:142px;
  top:669px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23173 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23174 {
  position:absolute;
  left:213px;
  top:712px;
  width:52px;
  height:41px;
}
#u23175 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23176 {
  position:absolute;
  left:285px;
  top:712px;
  width:52px;
  height:41px;
}
#u23177 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23178 {
  position:absolute;
  left:169px;
  top:753px;
  width:54px;
  height:16px;
  color:#FFFFFF;
}
#u23179 {
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u23178_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23180 {
  position:absolute;
  left:223px;
  top:753px;
  width:54px;
  height:16px;
  color:#FFFFFF;
}
#u23181 {
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23180_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23182 {
  position:absolute;
  left:301px;
  top:755px;
  width:54px;
  height:16px;
  color:#FFFFFF;
}
#u23183 {
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23182_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23184 {
  position:absolute;
  left:162px;
  top:823px;
  width:54px;
  height:16px;
  color:#FFFFFF;
}
#u23185 {
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23184_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23186 {
  position:absolute;
  left:301px;
  top:823px;
  width:54px;
  height:16px;
  color:#FFFFFF;
}
#u23187 {
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23186_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23188 {
  position:absolute;
  left:226px;
  top:825px;
  width:54px;
  height:16px;
  color:#FFFFFF;
}
#u23189 {
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23188_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23190 {
  position:absolute;
  left:149px;
  top:710px;
  width:54px;
  height:43px;
}
#u23191 {
  position:absolute;
  left:2px;
  top:14px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23192 {
  position:absolute;
  left:128px;
  top:880px;
  width:85px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23193 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u23194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23194 {
  position:absolute;
  left:128px;
  top:975px;
  width:85px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23195 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u23196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23196 {
  position:absolute;
  left:151px;
  top:713px;
  width:50px;
  height:38px;
}
#u23197 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23199 {
  position:absolute;
  left:230px;
  top:330px;
  width:81px;
  height:16px;
}
#u23200 {
  position:absolute;
  left:16px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u23199_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23201 {
  position:absolute;
  left:139px;
  top:330px;
  width:81px;
  height:16px;
}
#u23202 {
  position:absolute;
  left:16px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u23201_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u23203 {
  position:absolute;
  left:139px;
  top:276px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u23204 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23205 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23206 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u23207 {
  position:absolute;
  left:139px;
  top:413px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u23208 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23210 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:26px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23211 {
  position:absolute;
  left:142px;
  top:508px;
  width:96px;
  height:26px;
}
#u23212 {
  position:absolute;
  left:2px;
  top:5px;
  width:92px;
  word-wrap:break-word;
}
#u23213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:78px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23213 {
  position:absolute;
  left:142px;
  top:534px;
  width:96px;
  height:78px;
}
#u23214 {
  position:absolute;
  left:2px;
  top:31px;
  width:92px;
  word-wrap:break-word;
}
#u23215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23215 {
  position:absolute;
  left:142px;
  top:612px;
  width:96px;
  height:28px;
}
#u23216 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u23217 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:26px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23218 {
  position:absolute;
  left:266px;
  top:508px;
  width:96px;
  height:26px;
}
#u23219 {
  position:absolute;
  left:2px;
  top:5px;
  width:92px;
  word-wrap:break-word;
}
#u23220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:106px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23220 {
  position:absolute;
  left:266px;
  top:534px;
  width:96px;
  height:106px;
}
#u23221 {
  position:absolute;
  left:2px;
  top:45px;
  width:92px;
  word-wrap:break-word;
}
#u23222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:104px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23223 {
  position:absolute;
  left:389px;
  top:508px;
  width:96px;
  height:104px;
}
#u23224 {
  position:absolute;
  left:2px;
  top:44px;
  width:92px;
  word-wrap:break-word;
}
#u23225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23225 {
  position:absolute;
  left:389px;
  top:612px;
  width:96px;
  height:28px;
}
#u23226 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u23227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u23227 {
  position:absolute;
  left:140px;
  top:477px;
  width:40px;
  height:16px;
  text-align:center;
}
#u23228 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23229 {
  position:absolute;
  left:183px;
  top:938px;
  width:100px;
  height:16px;
}
#u23230 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23229_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23231 {
  position:absolute;
  left:183px;
  top:1018px;
  width:100px;
  height:16px;
}
#u23232 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23231_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23233 {
  position:absolute;
  left:268px;
  top:1018px;
  width:100px;
  height:16px;
}
#u23234 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23233_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23235 {
  position:absolute;
  left:355px;
  top:1018px;
  width:100px;
  height:16px;
}
#u23236 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23235_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23237 {
  position:absolute;
  left:128px;
  top:1053px;
  width:135px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23238 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u23239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23239 {
  position:absolute;
  left:134px;
  top:1137px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23240 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23241 {
  position:absolute;
  left:180px;
  top:1096px;
  width:100px;
  height:16px;
}
#u23242 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23241_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23243 {
  position:absolute;
  left:183px;
  top:1180px;
  width:100px;
  height:16px;
}
#u23244 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23243_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:99px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23245 {
  position:absolute;
  left:327px;
  top:1242px;
  width:217px;
  height:99px;
}
#u23245_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:99px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23245.mouseOver {
}
#u23246 {
  position:absolute;
  left:2px;
  top:42px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23247 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u23248 {
  position:absolute;
  left:1467px;
  top:258px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u23249 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u23250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u23250 {
  position:absolute;
  left:1467px;
  top:208px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u23251 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u23252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
}
#u23252 {
  position:absolute;
  left:1510px;
  top:265px;
  width:239px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u23253 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u23254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u23254 {
  position:absolute;
  left:196px;
  top:285px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u23255 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u23256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u23256 {
  position:absolute;
  left:190px;
  top:465px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u23257 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u23258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u23258 {
  position:absolute;
  left:1467px;
  top:311px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u23259 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u23260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
}
#u23260 {
  position:absolute;
  left:1510px;
  top:318px;
  width:193px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u23261 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u23262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u23262 {
  position:absolute;
  left:439px;
  top:779px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u23263 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u23264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u23264 {
  position:absolute;
  left:1467px;
  top:354px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u23265 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u23266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:19px;
}
#u23266 {
  position:absolute;
  left:1510px;
  top:361px;
  width:399px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u23267 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  white-space:nowrap;
}
#u23268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u23268 {
  position:absolute;
  left:488px;
  top:1018px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u23269 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u23270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u23270 {
  position:absolute;
  left:1467px;
  top:412px;
  width:33px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u23271 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u23272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:19px;
}
#u23272 {
  position:absolute;
  left:1510px;
  top:419px;
  width:354px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u23273 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  white-space:nowrap;
}
