body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2607px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19667 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19668 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u19669 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19670 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u19671 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u19672 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u19673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u19673 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u19674 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19675 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u19676 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u19677 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19678_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u19678 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u19679 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19681 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19682 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19683 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u19684 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u19685 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u19686 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u19687 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u19688 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u19689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u19689 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u19690 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u19691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u19691 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u19692 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u19693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u19693 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u19694 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u19695 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u19696 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u19697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u19697 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u19698 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19699_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:117px;
  height:10px;
}
#u19699 {
  position:absolute;
  left:5px;
  top:164px;
  width:112px;
  height:5px;
}
#u19700 {
  position:absolute;
  left:2px;
  top:-6px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u19701 {
  position:absolute;
  left:9px;
  top:130px;
  width:108px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u19702 {
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u19703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1135px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19703 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:1135px;
}
#u19704 {
  position:absolute;
  left:2px;
  top:560px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1119px;
  height:802px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19705 {
  position:absolute;
  left:277px;
  top:197px;
  width:1119px;
  height:802px;
}
#u19706 {
  position:absolute;
  left:2px;
  top:393px;
  width:1115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19708 {
  position:absolute;
  left:401px;
  top:1px;
  width:197px;
  height:89px;
}
#u19708_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19708.mouseOver {
}
#u19709 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19710 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19711 {
  position:absolute;
  left:430px;
  top:396px;
  width:188px;
  height:37px;
}
#u19712 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19713 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u19714 {
  position:absolute;
  left:352px;
  top:363px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u19715 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19716 {
  position:absolute;
  left:429px;
  top:469px;
  width:189px;
  height:37px;
}
#u19717 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19718 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u19719 {
  position:absolute;
  left:362px;
  top:479px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
}
#u19720 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19721 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u19722 {
  position:absolute;
  left:363px;
  top:407px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
}
#u19723 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19724 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u19725 {
  position:absolute;
  left:362px;
  top:603px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u19726 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19727 {
  position:absolute;
  left:430px;
  top:653px;
  width:188px;
  height:37px;
}
#u19728 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19729 {
  position:absolute;
  left:429px;
  top:726px;
  width:189px;
  height:37px;
}
#u19730 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19731 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u19732 {
  position:absolute;
  left:362px;
  top:736px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
}
#u19733 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19734 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u19735 {
  position:absolute;
  left:363px;
  top:664px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
}
#u19736 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:94px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19737 {
  position:absolute;
  left:352px;
  top:220px;
  width:166px;
  height:94px;
}
#u19738 {
  position:absolute;
  left:2px;
  top:39px;
  width:162px;
  word-wrap:break-word;
}
#u19739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u19739 {
  position:absolute;
  left:388px;
  top:324px;
  width:94px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u19740 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u19741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u19741 {
  position:absolute;
  left:553px;
  top:784px;
  width:55px;
  height:55px;
  font-size:48px;
}
#u19742 {
  position:absolute;
  left:2px;
  top:-1px;
  width:51px;
  word-wrap:break-word;
}
#u19743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:2px;
}
#u19743 {
  position:absolute;
  left:330px;
  top:550px;
  width:558px;
  height:1px;
}
#u19744 {
  position:absolute;
  left:2px;
  top:-8px;
  width:554px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u19745 {
  position:absolute;
  left:640px;
  top:784px;
  width:55px;
  height:55px;
  font-size:48px;
}
#u19746 {
  position:absolute;
  left:2px;
  top:-1px;
  width:51px;
  word-wrap:break-word;
}
#u19748 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 51, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19749 {
  position:absolute;
  left:788px;
  top:923px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u19750 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u19751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19751 {
  position:absolute;
  left:599px;
  top:923px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u19752 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u19753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:104px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19753 {
  position:absolute;
  left:789px;
  top:891px;
  width:261px;
  height:104px;
}
#u19753_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:104px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19753.mouseOver {
}
#u19754 {
  position:absolute;
  left:2px;
  top:44px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u19755 {
  position:absolute;
  left:1540px;
  top:56px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u19756 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u19757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u19757 {
  position:absolute;
  left:1510px;
  top:172px;
  width:38px;
  height:38px;
  font-size:18px;
  color:#FFFFFF;
}
#u19758 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  word-wrap:break-word;
}
#u19759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:33px;
}
#u19759 {
  position:absolute;
  left:1558px;
  top:177px;
  width:490px;
  height:33px;
}
#u19760 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u19761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u19761 {
  position:absolute;
  left:1510px;
  top:220px;
  width:38px;
  height:38px;
  font-size:18px;
  color:#FFFFFF;
}
#u19762 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  word-wrap:break-word;
}
#u19763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19763 {
  position:absolute;
  left:1510px;
  top:8px;
  width:538px;
  height:111px;
}
#u19764 {
  position:absolute;
  left:2px;
  top:48px;
  width:534px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:106px;
}
#u19765 {
  position:absolute;
  left:1529px;
  top:19px;
  width:508px;
  height:106px;
}
#u19766 {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  word-wrap:break-word;
}
#u19767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:33px;
}
#u19767 {
  position:absolute;
  left:1558px;
  top:234px;
  width:490px;
  height:33px;
}
#u19768 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u19769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u19769 {
  position:absolute;
  left:1529px;
  top:125px;
  width:169px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u19770 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u19771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u19771 {
  position:absolute;
  left:2040px;
  top:132px;
  width:169px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u19772 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u19773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u19773 {
  position:absolute;
  left:2059px;
  top:189px;
  width:38px;
  height:38px;
  font-size:18px;
  color:#FFFFFF;
}
#u19774 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  word-wrap:break-word;
}
#u19775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:33px;
}
#u19775 {
  position:absolute;
  left:2117px;
  top:200px;
  width:490px;
  height:33px;
}
#u19776 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u19777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u19777 {
  position:absolute;
  left:2059px;
  top:237px;
  width:38px;
  height:38px;
  font-size:18px;
  color:#FFFFFF;
}
#u19778 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  word-wrap:break-word;
}
#u19779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:33px;
}
#u19779 {
  position:absolute;
  left:2117px;
  top:254px;
  width:490px;
  height:33px;
}
#u19780 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
