body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23891 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u23892 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u23894 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u23895 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u23896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u23896 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u23897 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u23899 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u23900 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23901_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u23901 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u23902 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23906 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u23907 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u23908 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u23909 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u23910 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u23911 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u23912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u23912 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u23913 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u23914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u23914 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u23915 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u23916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u23916 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u23917 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u23918 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u23919 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u23920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u23920 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u23921 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23922_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:10px;
}
#u23922 {
  position:absolute;
  left:5px;
  top:164px;
  width:59px;
  height:5px;
}
#u23923 {
  position:absolute;
  left:2px;
  top:-6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u23924 {
  position:absolute;
  left:9px;
  top:130px;
  width:50px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u23925 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u23926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1135px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23926 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:1135px;
}
#u23927 {
  position:absolute;
  left:2px;
  top:560px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:1029px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23928 {
  position:absolute;
  left:66px;
  top:260px;
  width:708px;
  height:1029px;
}
#u23929 {
  position:absolute;
  left:2px;
  top:506px;
  width:704px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23931 {
  position:absolute;
  left:401px;
  top:2px;
  width:197px;
  height:89px;
}
#u23931_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23931.mouseOver {
}
#u23932 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:35px;
}
#u23933 {
  position:absolute;
  left:173px;
  top:215px;
  width:869px;
  height:35px;
}
#u23934 {
  position:absolute;
  left:2px;
  top:10px;
  width:865px;
  word-wrap:break-word;
}
#u23935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u23936 {
  position:absolute;
  left:331px;
  top:1209px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u23937 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u23938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u23938 {
  position:absolute;
  left:528px;
  top:1209px;
  width:177px;
  height:40px;
  font-size:18px;
}
#u23939 {
  position:absolute;
  left:2px;
  top:9px;
  width:173px;
  word-wrap:break-word;
}
#u23940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u23940 {
  position:absolute;
  left:135px;
  top:1209px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u23941 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u23943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:32px;
}
#u23945 {
  position:absolute;
  left:277px;
  top:284px;
  width:19px;
  height:32px;
}
#u23946 {
  position:absolute;
  left:2px;
  top:8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:32px;
}
#u23947 {
  position:absolute;
  left:475px;
  top:283px;
  width:19px;
  height:32px;
}
#u23948 {
  position:absolute;
  left:2px;
  top:8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u23950 {
  position:absolute;
  left:370px;
  top:286px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u23951 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u23952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u23952 {
  position:absolute;
  left:316px;
  top:278px;
  width:44px;
  height:44px;
  font-size:18px;
  color:#797979;
}
#u23953 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u23954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u23955 {
  position:absolute;
  left:559px;
  top:286px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u23956 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u23957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u23958 {
  position:absolute;
  left:505px;
  top:278px;
  width:44px;
  height:44px;
  font-size:18px;
  color:#797979;
}
#u23959 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u23960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u23961 {
  position:absolute;
  left:162px;
  top:286px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u23962 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u23963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u23963 {
  position:absolute;
  left:108px;
  top:278px;
  width:44px;
  height:44px;
  font-size:18px;
  color:#797979;
}
#u23964 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u23965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u23966 {
  position:absolute;
  left:559px;
  top:286px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u23967 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u23968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u23968 {
  position:absolute;
  left:505px;
  top:278px;
  width:44px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u23969 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u23970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:813px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23971 {
  position:absolute;
  left:140px;
  top:345px;
  width:484px;
  height:813px;
}
#u23972 {
  position:absolute;
  left:2px;
  top:398px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u23975 {
  position:absolute;
  left:187px;
  top:1075px;
  width:56px;
  height:44px;
}
#u23976 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u23977 {
  position:absolute;
  left:184px;
  top:1129px;
  width:58px;
  height:19px;
  font-size:16px;
  color:#008000;
  text-align:center;
}
#u23978 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u23979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u23980 {
  position:absolute;
  left:265px;
  top:1076px;
  width:56px;
  height:44px;
}
#u23981 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u23982 {
  position:absolute;
  left:242px;
  top:1130px;
  width:99px;
  height:19px;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u23983 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u23984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u23985 {
  position:absolute;
  left:344px;
  top:1076px;
  width:56px;
  height:44px;
}
#u23986 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
}
#u23987 {
  position:absolute;
  left:341px;
  top:1130px;
  width:79px;
  height:19px;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u23988 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u23989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u23990 {
  position:absolute;
  left:423px;
  top:1076px;
  width:56px;
  height:44px;
}
#u23991 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u23992 {
  position:absolute;
  left:420px;
  top:1130px;
  width:58px;
  height:19px;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u23993 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u23994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:44px;
}
#u23995 {
  position:absolute;
  left:512px;
  top:1076px;
  width:56px;
  height:44px;
}
#u23996 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u23997 {
  position:absolute;
  left:509px;
  top:1130px;
  width:58px;
  height:19px;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u23998 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u23999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:65px;
  background:inherit;
  background-color:rgba(153, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23999 {
  position:absolute;
  left:140px;
  top:345px;
  width:484px;
  height:65px;
}
#u24000 {
  position:absolute;
  left:2px;
  top:24px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24001 {
  position:absolute;
  left:309px;
  top:358px;
  width:147px;
  height:40px;
}
#u24002 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u24003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24003 {
  position:absolute;
  left:140px;
  top:410px;
  width:484px;
  height:40px;
}
#u24004 {
  position:absolute;
  left:2px;
  top:4px;
  width:480px;
  word-wrap:break-word;
}
#u24005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24005 {
  position:absolute;
  left:296px;
  top:506px;
  width:165px;
  height:157px;
}
#u24006 {
  position:absolute;
  left:2px;
  top:62px;
  width:161px;
  word-wrap:break-word;
}
#u24007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2190px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.537254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24007 {
  position:absolute;
  left:2px;
  top:-16px;
  width:1440px;
  height:2190px;
}
#u24008 {
  position:absolute;
  left:2px;
  top:1087px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:806px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24010 {
  position:absolute;
  left:154px;
  top:235px;
  width:746px;
  height:806px;
}
#u24011 {
  position:absolute;
  left:2px;
  top:395px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u24012 {
  position:absolute;
  left:820px;
  top:240px;
  width:58px;
  height:58px;
}
#u24013 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u24014 {
  position:absolute;
  left:187px;
  top:259px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#515151;
}
#u24015 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u24017 {
  position:absolute;
  left:465px;
  top:892px;
  width:168px;
  height:52px;
  font-size:18px;
}
#u24018 {
  position:absolute;
  left:2px;
  top:15px;
  width:164px;
  word-wrap:break-word;
}
#u24019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:2px;
}
#u24019 {
  position:absolute;
  left:210px;
  top:854px;
  width:635px;
  height:1px;
}
#u24020 {
  position:absolute;
  left:2px;
  top:-8px;
  width:631px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24023 {
  position:absolute;
  left:306px;
  top:520px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24024 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
}
#u24025 {
  position:absolute;
  left:264px;
  top:479px;
  width:150px;
  height:31px;
}
#u24026 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u24030 {
  position:absolute;
  left:545px;
  top:488px;
  width:90px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u24031 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u24032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u24034 {
  position:absolute;
  left:545px;
  top:527px;
  width:90px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u24035 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u24036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u24042 {
  position:absolute;
  left:402px;
  top:306px;
  width:29px;
  height:29px;
  color:#868686;
}
#u24043 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  word-wrap:break-word;
}
#u24044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
  text-align:right;
}
#u24046 {
  position:absolute;
  left:441px;
  top:311px;
  width:72px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
  text-align:right;
}
#u24047 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u24048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:2px;
}
#u24049 {
  position:absolute;
  left:523px;
  top:320px;
  width:61px;
  height:1px;
}
#u24050 {
  position:absolute;
  left:2px;
  top:-8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u24052 {
  position:absolute;
  left:604px;
  top:306px;
  width:29px;
  height:29px;
  color:#868686;
}
#u24053 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  word-wrap:break-word;
}
#u24054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
  text-align:right;
}
#u24056 {
  position:absolute;
  left:643px;
  top:311px;
  width:72px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
  text-align:right;
}
#u24057 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u24058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u24059 {
  position:absolute;
  left:402px;
  top:306px;
  width:29px;
  height:29px;
  color:#008000;
}
#u24060 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  word-wrap:break-word;
}
#u24061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#008000;
  text-align:right;
}
#u24063 {
  position:absolute;
  left:441px;
  top:311px;
  width:72px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#008000;
  text-align:right;
}
#u24064 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u24065 {
  position:absolute;
  left:682px;
  top:487px;
  width:51px;
  height:16px;
}
#u24066 {
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u24065_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24067 {
  position:absolute;
  left:743px;
  top:487px;
  width:99px;
  height:16px;
}
#u24068 {
  position:absolute;
  left:16px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u24067_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:2px;
}
#u24069 {
  position:absolute;
  left:663px;
  top:576px;
  width:145px;
  height:1px;
}
#u24070 {
  position:absolute;
  left:2px;
  top:-8px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u24074 {
  position:absolute;
  left:691px;
  top:547px;
  width:90px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u24075 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
