body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7360 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7361 {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:89px;
}
#u7362 {
  position:absolute;
  left:2px;
  top:36px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7363 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:89px;
}
#u7364 {
  position:absolute;
  left:130px;
  top:0px;
  width:253px;
  height:89px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7365 {
  position:absolute;
  left:0px;
  top:23px;
  width:253px;
  white-space:nowrap;
}
#u7366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u7366 {
  position:absolute;
  left:45px;
  top:21px;
  width:48px;
  height:48px;
}
#u7367 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7368 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u7369 {
  position:absolute;
  left:536px;
  top:52px;
  width:34px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7370 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7371_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:46px;
}
#u7371 {
  position:absolute;
  left:399px;
  top:24px;
  width:3px;
  height:43px;
}
#u7372 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7374 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7375 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7376 {
  position:absolute;
  left:1246px;
  top:19px;
  width:50px;
  height:50px;
}
#u7377 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u7378 {
  position:absolute;
  left:1259px;
  top:31px;
  width:22px;
  height:24px;
}
#u7379 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u7380 {
  position:absolute;
  left:1156px;
  top:28px;
  width:76px;
  height:32px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u7381 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u7382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u7382 {
  position:absolute;
  left:1323px;
  top:37px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u7383 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u7384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u7384 {
  position:absolute;
  left:1101px;
  top:42px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u7385 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u7386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u7386 {
  position:absolute;
  left:1134px;
  top:47px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u7387 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u7388 {
  position:absolute;
  left:424px;
  top:24px;
  width:150px;
  height:44px;
  font-size:28px;
  color:#FFFFFF;
}
#u7389 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u7390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u7390 {
  position:absolute;
  left:2px;
  top:166px;
  width:1440px;
  height:1px;
}
#u7391 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7392_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:117px;
  height:10px;
}
#u7392 {
  position:absolute;
  left:5px;
  top:164px;
  width:112px;
  height:5px;
}
#u7393 {
  position:absolute;
  left:2px;
  top:-6px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006600;
}
#u7394 {
  position:absolute;
  left:9px;
  top:130px;
  width:108px;
  height:32px;
  font-size:16px;
  color:#006600;
}
#u7395 {
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u7396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:1527px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7396 {
  position:absolute;
  left:5px;
  top:170px;
  width:1437px;
  height:1527px;
}
#u7397 {
  position:absolute;
  left:2px;
  top:756px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:1353px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7398 {
  position:absolute;
  left:277px;
  top:197px;
  width:1144px;
  height:1353px;
}
#u7399 {
  position:absolute;
  left:2px;
  top:668px;
  width:1140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7401 {
  position:absolute;
  left:401px;
  top:1px;
  width:197px;
  height:89px;
}
#u7401_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7401.mouseOver {
}
#u7402 {
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7403 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7404 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7405 {
  position:absolute;
  left:726px;
  top:1478px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u7406 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u7407 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7408 {
  position:absolute;
  left:926px;
  top:1478px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u7409 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u7410 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7411 {
  position:absolute;
  left:532px;
  top:1478px;
  width:168px;
  height:40px;
  font-size:18px;
}
#u7412 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u7413 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7414 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7415 {
  position:absolute;
  left:416px;
  top:310px;
  width:103px;
  height:22px;
}
#u7415_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7415_input:disabled {
  color:grayText;
}
#u7416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u7416 {
  position:absolute;
  left:349px;
  top:313px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
}
#u7417 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7418 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7419 {
  position:absolute;
  left:416px;
  top:278px;
  width:103px;
  height:22px;
}
#u7419_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7419_input:disabled {
  color:grayText;
}
#u7420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u7420 {
  position:absolute;
  left:349px;
  top:281px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
}
#u7421 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7422 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7423 {
  position:absolute;
  left:71px;
  top:266px;
  width:159px;
  height:199px;
}
#u7424 {
  position:absolute;
  left:2px;
  top:34px;
  width:155px;
  word-wrap:break-word;
}
#u7425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:114px;
}
#u7425 {
  position:absolute;
  left:121px;
  top:300px;
  width:59px;
  height:114px;
  font-size:99px;
  color:#008000;
  text-align:center;
}
#u7426 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u7427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u7427 {
  position:absolute;
  left:513px;
  top:1359px;
  width:55px;
  height:55px;
  font-size:48px;
}
#u7428 {
  position:absolute;
  left:2px;
  top:-1px;
  width:51px;
  word-wrap:break-word;
}
#u7429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u7430 {
  position:absolute;
  left:306px;
  top:1051px;
  width:469px;
  height:139px;
  font-size:36px;
  color:#AEAEAE;
}
#u7431 {
  position:absolute;
  left:2px;
  top:48px;
  width:465px;
  word-wrap:break-word;
}
#u7432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u7432 {
  position:absolute;
  left:306px;
  top:1209px;
  width:469px;
  height:139px;
  font-size:36px;
  color:#AEAEAE;
}
#u7433 {
  position:absolute;
  left:2px;
  top:48px;
  width:465px;
  word-wrap:break-word;
}
#u7434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
}
#u7434 {
  position:absolute;
  left:306px;
  top:386px;
  width:469px;
  height:139px;
}
#u7435 {
  position:absolute;
  left:2px;
  top:62px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u7436 {
  position:absolute;
  left:306px;
  top:725px;
  width:469px;
  height:139px;
  font-size:36px;
  color:#AEAEAE;
}
#u7437 {
  position:absolute;
  left:2px;
  top:48px;
  width:465px;
  word-wrap:break-word;
}
#u7438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u7438 {
  position:absolute;
  left:306px;
  top:886px;
  width:469px;
  height:139px;
  font-size:36px;
  color:#AEAEAE;
}
#u7439 {
  position:absolute;
  left:2px;
  top:48px;
  width:465px;
  word-wrap:break-word;
}
#u7440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u7440 {
  position:absolute;
  left:306px;
  top:552px;
  width:469px;
  height:139px;
  font-size:36px;
  color:#AEAEAE;
}
#u7441 {
  position:absolute;
  left:2px;
  top:48px;
  width:465px;
  word-wrap:break-word;
}
#u7442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:231px;
}
#u7442 {
  position:absolute;
  left:775px;
  top:338px;
  width:583px;
  height:231px;
}
#u7443 {
  position:absolute;
  left:2px;
  top:108px;
  width:579px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7444 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7445 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7446 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7447 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7448 {
  position:absolute;
  left:965px;
  top:385px;
  width:353px;
  height:41px;
}
#u7449 {
  position:absolute;
  left:2px;
  top:12px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u7450 {
  position:absolute;
  left:1281px;
  top:401px;
  width:26px;
  height:16px;
}
#u7451 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u7452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u7452 {
  position:absolute;
  left:917px;
  top:399px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u7453 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u7454 {
  position:absolute;
  left:904px;
  top:452px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u7455 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u7456 {
  position:absolute;
  left:1171px;
  top:456px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u7457 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7458 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u7459 {
  position:absolute;
  left:917px;
  top:517px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u7460 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7461 {
  position:absolute;
  left:973px;
  top:516px;
  width:134px;
  height:22px;
}
#u7461_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7461_input:disabled {
  color:grayText;
}
#u7462 {
  position:absolute;
  left:1132px;
  top:516px;
  width:186px;
  height:22px;
}
#u7462_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7462_input:disabled {
  color:grayText;
}
#u7463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7463 {
  position:absolute;
  left:973px;
  top:452px;
  width:29px;
  height:27px;
}
#u7464 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 0, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7465 {
  position:absolute;
  left:1015px;
  top:452px;
  width:29px;
  height:27px;
}
#u7466 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7467 {
  position:absolute;
  left:1054px;
  top:452px;
  width:29px;
  height:27px;
}
#u7468 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7469 {
  position:absolute;
  left:1093px;
  top:452px;
  width:29px;
  height:27px;
}
#u7470 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7471 {
  position:absolute;
  left:1132px;
  top:452px;
  width:29px;
  height:27px;
}
#u7472 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7473 {
  position:absolute;
  left:1221px;
  top:452px;
  width:29px;
  height:27px;
}
#u7474 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:1698px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.537254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7475 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1442px;
  height:1698px;
}
#u7476 {
  position:absolute;
  left:2px;
  top:841px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7477 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7478 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:284px;
}
#u7479 {
  position:absolute;
  left:306px;
  top:342px;
  width:684px;
  height:284px;
}
#u7480 {
  position:absolute;
  left:2px;
  top:134px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:72px;
}
#u7481 {
  position:absolute;
  left:171px;
  top:448px;
  width:46px;
  height:72px;
}
#u7482 {
  position:absolute;
  left:2px;
  top:28px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:72px;
}
#u7483 {
  position:absolute;
  left:1096px;
  top:448px;
  width:46px;
  height:72px;
}
#u7484 {
  position:absolute;
  left:2px;
  top:28px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:65px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.258823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7485 {
  position:absolute;
  left:306px;
  top:561px;
  width:684px;
  height:65px;
}
#u7486 {
  position:absolute;
  left:2px;
  top:24px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:24px;
}
#u7487 {
  position:absolute;
  left:306px;
  top:577px;
  width:684px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7488 {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  word-wrap:break-word;
}
